Repository GoogleCloudPlatform/DataflowTemplates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/spanner-migrations-team, @GoogleCloudPlatform/datastream, @GoogleCloudPlatform/bigtable-migrations-team

addressing comments
  v2/datastream-common/src/main/java/com/google/cloud/teleport/v2/datastream/sources/DataStreamIO.java
Owners: @GoogleCloudPlatform/datastream, @GoogleCloudPlatform/spanner-migrations-team

formatting fixes
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/main.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/outputs.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/terraform.tfvars
Owners: @GoogleCloudPlatform/spanner-migrations-team

Terraform template for sharded mysql migration with single dataflow job
  v2/datastream-to-spanner/terraform/samples/README.md
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/README.md
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/main.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/outputs.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/session.json
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/shardingContext.json
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/terraform.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/terraform.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/terraform_simple.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/variables.tf
Owners: @GoogleCloudPlatform/spanner-migrations-team

feat: add PostgreSQL string pkeys support
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/ResourceUtils.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/mysql/MysqlDialectAdapter.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/postgresql/PostgreSQLDialectAdapter.java
  v2/sourcedb-to-spanner/src/main/resources/sql/mysql_collation_order_query.sql
  v2/sourcedb-to-spanner/src/main/resources/sql/postgresql_collation_order_query.sql
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/ResourceUtilsTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/mysql/MysqlDialectAdapterTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/postgresql/PostgreSQLDialectAdapterTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/postgresql/IdentitySchemaMapperIT.java
  v2/sourcedb-to-spanner/src/test/resources/SchemaMapperIT/company-postgresql-schema.sql
  v2/sourcedb-to-spanner/src/test/resources/SchemaMapperIT/company-spanner-schema-pg.sql
  v2/sourcedb-to-spanner/src/test/resources/TestCollations/README.md
Owners: @GoogleCloudPlatform/spanner-migrations-team

Resolve comments
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/constants/SourceDbToSpannerConstants.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/PipelineController.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Merge sharded DF jobs and performance improvements (#1846)
  v2/datastream-common/src/main/java/com/google/cloud/teleport/v2/datastream/sources/DataStreamIO.java
  v2/datastream-to-spanner/README_Cloud_Datastream_to_Spanner.md
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/SpannerTransactionWriterDoFn.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/constants/DatastreamToSpannerConstants.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/datastream/DatastreamConstants.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/transform/ChangeEventTransformerDoFn.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/utils/WatchdogRunnable.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/utils/package-info.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/SpannerTransactionWriterDoFnTest.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/transform/ChangeEventTransformerDoFnTest.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/utils/WatchdogRunnableTest.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/constants/Constants.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSessionConvertor.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/shard/ShardingContext.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/utils/ShardingContextReader.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSessionConvertorTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/utils/ShardingContextReaderTest.java
  v2/spanner-common/src/test/resources/sharding-context.json
Owners: @GoogleCloudPlatform/datastream, @GoogleCloudPlatform/spanner-migrations-team

Terraform template for sharded mysql migration with single dataflow job (#1847)
  v2/datastream-to-spanner/terraform/samples/README.md
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/README.md
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/main.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/outputs.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/session.json
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/shardingContext.json
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/terraform.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/terraform.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/terraform_simple.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-single-df-job/variables.tf
Owners: @GoogleCloudPlatform/spanner-migrations-team

Schema overrides via String and file
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/transform/ChangeEventTransformerDoFn.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/transform/ChangeEventTransformerDoFnTest.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSessionConvertor.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/ISchemaOverridesParser.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverride.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParser.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaStringOverridesParser.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSessionConvertorTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParserTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaStringOverridesParserTest.java
  v2/spanner-common/src/test/resources/schema-overrides-cols-tables.json
  v2/spanner-common/src/test/resources/schema-overrides-columns.json
  v2/spanner-common/src/test/resources/schema-overrides-tables.json
Owners: @GoogleCloudPlatform/spanner-migrations-team

Apply spotless
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/transform/ChangeEventTransformerDoFn.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSessionConvertor.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/ISchemaOverridesParser.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverride.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParser.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaStringOverridesParser.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSessionConvertorTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParserTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaStringOverridesParserTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Add UTs and remove redundant toString()
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverride.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParser.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverrideTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParserTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Fix regex
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Fix UTs
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaStringOverridesParserTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Add regex for string overrides
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Spotless
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParser.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverrideTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParserTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Add NoopSchemaOverridesParser
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/NoopSchemaOverridesParser.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Apply spotless
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Address comments
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/transform/ChangeEventTransformerDoFn.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/transform/ChangeEventTransformerDoFnTest.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSessionConvertor.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/ISchemaOverridesParser.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/NoopSchemaOverridesParser.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverride.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParser.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaStringOverridesParser.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSessionConvertorTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverrideTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParserTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaStringOverridesParserTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Fixed the broken mysql link (#1903)
  v2/jdbc-to-googlecloud/README_Jdbc_to_BigQuery_Flex.md
  v2/jdbc-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/JdbcToBigQueryOptions.java
  v2/mysql-to-googlecloud/README_MySQL_to_BigQuery.md
  v2/oracle-to-googlecloud/README_Oracle_to_BigQuery.md
  v2/postgresql-to-googlecloud/README_PostgreSQL_to_BigQuery.md
  v2/sqlserver-to-googlecloud/README_SQLServer_to_BigQuery.md
Owners: none

spotless apply
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerDDLIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerEventsIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerITBase.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerSessionIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DatastreamToSpannerSingleDFShardedMigrationIT.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Added integration test for single sharded DF job
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerDDLIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerEventsIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerITBase.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerSessionIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DatastreamToSpannerSingleDFShardedMigrationIT.java
  v2/datastream-to-spanner/src/test/resources/DatastreamToSpannerSingleDFShardedMigrationIT/Users-backfill-logical-shard1.avro
  v2/datastream-to-spanner/src/test/resources/DatastreamToSpannerSingleDFShardedMigrationIT/Users-backfill-logical-shard2.avro
  v2/datastream-to-spanner/src/test/resources/DatastreamToSpannerSingleDFShardedMigrationIT/Users-backfill-logical-shard3.avro
  v2/datastream-to-spanner/src/test/resources/DatastreamToSpannerSingleDFShardedMigrationIT/Users-backfill-logical-shard4.avro
  v2/datastream-to-spanner/src/test/resources/DatastreamToSpannerSingleDFShardedMigrationIT/Users-cdc-logical-shard1.avro
  v2/datastream-to-spanner/src/test/resources/DatastreamToSpannerSingleDFShardedMigrationIT/mysql-schema.sql
  v2/datastream-to-spanner/src/test/resources/DatastreamToSpannerSingleDFShardedMigrationIT/mysql-session.json
  v2/datastream-to-spanner/src/test/resources/DatastreamToSpannerSingleDFShardedMigrationIT/mysql-statements.sql
  v2/datastream-to-spanner/src/test/resources/DatastreamToSpannerSingleDFShardedMigrationIT/sharding-context.json
  v2/datastream-to-spanner/src/test/resources/DatastreamToSpannerSingleDFShardedMigrationIT/spanner-schema.sql
Owners: @GoogleCloudPlatform/spanner-migrations-team

Add retry settings for notification creation in GCSResourceManager
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/storage/GcsResourceManager.java
Owners: none

feat: add support for custom certificate path
  v2/googlecloud-to-neo4j/pom.xml
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/database/Neo4jConnection.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/connection/BasicConnectionParams.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/connection/BearerConnectionParams.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/connection/ConnectionParams.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/connection/CustomConnectionParams.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/connection/KerberosConnectionParams.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/connection/NoAuthConnectionParams.java
  v2/googlecloud-to-neo4j/src/main/resources/schemas/connection.v1.0.json
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/model/connection/ConnectionParamsTest.java
Owners: none

fix: CA certificate param name
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/connection/BasicConnectionParams.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/connection/BearerConnectionParams.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/connection/CustomConnectionParams.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/connection/KerberosConnectionParams.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/connection/NoAuthConnectionParams.java
  v2/googlecloud-to-neo4j/src/main/resources/schemas/connection.v1.0.json
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/model/connection/ConnectionParamsTest.java
Owners: none

[KafkaToBigQuery] Fix a bug preventing the template loading the TLS certificate from Cloud Storage (#1898)
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/KafkaTransform.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQuery.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
Owners: none

Added support for WHERE ... IS NOT NULL for indexes (#1902)
  v1/src/main/java/com/google/cloud/teleport/spanner/ddl/Index.java
  v1/src/main/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScanner.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScannerIT.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScannerTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Resolve comments
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/README.md
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/main.tf
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/outputs.tf
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/terraform.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/variables.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-end-to-end/README.md
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-end-to-end/main.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-end-to-end/outputs.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-end-to-end/terraform.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-end-to-end/variables.tf
  v2/datastream-to-spanner/terraform/samples/postgresql-end-to-end/README.md
  v2/datastream-to-spanner/terraform/samples/postgresql-end-to-end/main.tf
  v2/datastream-to-spanner/terraform/samples/postgresql-end-to-end/outputs.tf
  v2/datastream-to-spanner/terraform/samples/postgresql-end-to-end/terraform.tfvars
  v2/datastream-to-spanner/terraform/samples/postgresql-end-to-end/variables.tf
Owners: @GoogleCloudPlatform/spanner-migrations-team

Add retry settings for notification creation in GCSResourceManager (#1906)
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/storage/GcsResourceManager.java
Owners: none

Refactor dockerfile generator to allow more parameters
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/YamlDockerfileGenerator.java
  plugins/core-plugin/src/main/resources/Dockerfile-template-yaml
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/YamlDockerfileGeneratorTest.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
Owners: none

strip out helper image code
  metadata/src/main/java/com/google/cloud/teleport/metadata/HelperImage.java
  metadata/src/main/java/com/google/cloud/teleport/metadata/Template.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesReleaseMojo.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
  python/src/main/java/com/google/cloud/teleport/templates/python/YAMLTemplate.java
  python/src/main/python/yaml-template/job-builder-server/server.py
Owners: none

Add support for HelperImage annotation
  metadata/src/main/java/com/google/cloud/teleport/metadata/HelperImage.java
  metadata/src/main/java/com/google/cloud/teleport/metadata/Template.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/DockerfileGenerator.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/PythonDockerfileGenerator.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/XlangDockerfileGenerator.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/YamlDockerfileGenerator.java
  plugins/core-plugin/src/main/resources/Dockerfile-template-python
  plugins/core-plugin/src/main/resources/Dockerfile-template-xlang
  plugins/core-plugin/src/main/resources/Dockerfile-template-yaml
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/DockerfileGeneratorTest.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/PythonDockerfileGeneratorTest.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/XlangDockerfileGeneratorTest.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/YamlDockerfileGeneratorTest.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesReleaseMojo.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesRunMojo.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
  python/src/main/java/com/google/cloud/teleport/templates/python/YAMLTemplate.java
  python/src/main/python/yaml-template/job-builder-server/server.py
Owners: none

fix build errors
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesReleaseMojo.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesRunMojo.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
Owners: none

Address comments
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSessionConvertor.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/ISchemaOverridesParser.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/NoopSchemaOverridesParser.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParser.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaStringOverridesParser.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParserTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaStringOverridesParserTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Swtich PCRE regex from alnum to graph
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

fix: fixes mysql collation after refactor
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/mysql/MysqlDialectAdapter.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

feat: Modularization: Schema overrides via string and file (#1840)
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/transform/ChangeEventTransformerDoFn.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/transform/ChangeEventTransformerDoFnTest.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSessionConvertor.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/ISchemaOverridesParser.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/NoopSchemaOverridesParser.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverride.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParser.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaStringOverridesParser.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSessionConvertorTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverrideTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaFileOverridesParserTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaStringOverridesParserTest.java
  v2/spanner-common/src/test/resources/schema-overrides-cols-tables.json
  v2/spanner-common/src/test/resources/schema-overrides-columns.json
  v2/spanner-common/src/test/resources/schema-overrides-tables.json
Owners: @GoogleCloudPlatform/spanner-migrations-team

more ut (#1894)
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/changestream/DataChangeRecordTypeConvertor.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/transforms/AssignShardIdFn.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ConnectionHelper.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ShadowTableCreator.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ShadowTableRecord.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/SpannerDao.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/changestream/DataChangeRecordTypeConvertorTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/AssignShardIdFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/ConvertChangeStreamErrorRecordToFailsafeElementFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/SourceWriterFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/UpdateDlqMetricsFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/DMLGeneratorTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/MySqlDaoTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/ShadowTableCreatorTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/ShardIdFetcherImplTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/SpannerDaoTest.java
  v2/spanner-to-sourcedb/src/test/resources/errorSchemaSession.json
Owners: @GoogleCloudPlatform/spanner-migrations-team

feat: remove unsupported type mappings
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/provider/PostgreSQLJdbcValueMappings.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/PostgreSQLMappingProvider.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/JdbcSourceRowMapperTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/PostgreSQLMappingProviderTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/postgresql/DataTypesIT.java
  v2/sourcedb-to-spanner/src/test/resources/DataTypesIt/postgresql/data-types.sql
  v2/sourcedb-to-spanner/src/test/resources/DataTypesIt/postgresql/spanner-schema.sql
Owners: @GoogleCloudPlatform/spanner-migrations-team

Add create bucket support for gcs resource manager
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/storage/GcsResourceManager.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/storage/GcsResourceManagerException.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/storage/GcsResourceManagerTest.java
Owners: none

tests: remove time type expectation
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/postgresql/DataTypesIT.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Added support for vector indexes
  v1/src/main/java/com/google/cloud/teleport/spanner/ddl/Index.java
  v1/src/main/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScanner.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScannerIT.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

.github/CODEOWNERS:

# review when someone opens a pull request

# Spanner Import Export templates
v1/src/main/java/com/google/cloud/teleport/spanner/ @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/spanner/ @GoogleCloudPlatform/spanner-migrations-team
v1/src/main/java/com/google/cloud/teleport/templates/SpannerToText.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/main/java/com/google/cloud/teleport/templates/common/SpannerConverters.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextIT.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextLT.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextTest.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/common/SpannerConverterTest.java @GoogleCloudPlatform/spanner-migrations-team

# Datastream To spanner template
v2/datastream-to-spanner/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-common/ @GoogleCloudPlatform/spanner-migrations-team

# Spanner To other database reverse replication templates
v2/spanner-change-streams-to-sharded-file-sink/ @GoogleCloudPlatform/spanner-migrations-team
v2/gcs-to-sourcedb/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-migrations-sdk/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-custom-shard/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-to-sourcedb/ @GoogleCloudPlatform/spanner-migrations-team

# Datastream Templates
v2/datastream-to-sql/ @GoogleCloudPlatform/datastream
v2/datastream-to-bigquery/ @GoogleCloudPlatform/datastream
v2/datastream-to-postgres/ @GoogleCloudPlatform/datastream
v2/datastream-to-mongodb/ @GoogleCloudPlatform/datastream
v2/datastream-common/ @GoogleCloudPlatform/datastream @GoogleCloudPlatform/spanner-migrations-team

# Spanner Bulk migration template
v2/sourcedb-to-spanner/ @GoogleCloudPlatform/spanner-migrations-team

# Bigtable Import Export templates
v1/src/main/java/com/google/cloud/teleport/bigtable @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/bigtable @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToAvroIT.java @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToJsonIT.java @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToParquetIT.java @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToVectorEmbeddingsIT.java @GoogleCloudPlatform/bigtable-migrations-team

# Bigtable CDC shared logic
v2/bigtable-changestreams-to-hbase/ @GoogleCloudPlatform/bigtable-migrations-team
v2/bigtable-common/ @GoogleCloudPlatform/bigtable-migrations-team
