Repository GoogleCloudPlatform/DataflowTemplates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/spanner-migrations-team, @GoogleCloudPlatform/datastream, @GoogleCloudPlatform/bigtable-migrations-team

.github/CODEOWNERS:

# review when someone opens a pull request

# Spanner Import Export templates
v1/src/main/java/com/google/cloud/teleport/spanner/ @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/spanner/ @GoogleCloudPlatform/spanner-migrations-team
v1/src/main/java/com/google/cloud/teleport/templates/SpannerToText.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/main/java/com/google/cloud/teleport/templates/common/SpannerConverters.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextIT.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextLT.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextTest.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/common/SpannerConverterTest.java @GoogleCloudPlatform/spanner-migrations-team

# Datastream To spanner template
v2/datastream-to-spanner/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-common/ @GoogleCloudPlatform/spanner-migrations-team

# Spanner To other database reverse replication templates
v2/spanner-change-streams-to-sharded-file-sink/ @GoogleCloudPlatform/spanner-migrations-team
v2/gcs-to-sourcedb/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-migrations-sdk/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-custom-shard/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-to-sourcedb/ @GoogleCloudPlatform/spanner-migrations-team

# Datastream Templates
v2/datastream-to-sql/ @GoogleCloudPlatform/datastream
v2/datastream-to-bigquery/ @GoogleCloudPlatform/datastream
v2/datastream-to-postgres/ @GoogleCloudPlatform/datastream
v2/datastream-to-mongodb/ @GoogleCloudPlatform/datastream
v2/datastream-common/ @GoogleCloudPlatform/datastream @GoogleCloudPlatform/spanner-migrations-team

# Spanner Bulk migration template
v2/sourcedb-to-spanner/ @GoogleCloudPlatform/spanner-migrations-team

# Bigtable Import Export templates
v1/src/main/java/com/google/cloud/teleport/bigtable @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/bigtable @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToAvroIT.java @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToJsonIT.java @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToParquetIT.java @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToVectorEmbeddingsIT.java @GoogleCloudPlatform/bigtable-migrations-team

# Bigtable CDC shared logic
v2/bigtable-changestreams-to-hbase/ @GoogleCloudPlatform/bigtable-migrations-team
v2/bigtable-common/ @GoogleCloudPlatform/bigtable-migrations-team

Rename MongoDb CDC to BigQuery template (#1879)
  README.md
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbCdcToBigQuery.java
  v2/mongodb-to-googlecloud/src/main/resources/mongodb-cdc-to-bigquery-command-spec.json
  v2/mongodb-to-googlecloud/terraform/MongoDB_to_BigQuery_CDC/dataflow_job.tf
Owners: none

Modified BigQueryDynamicDestination destination to support write API with exactly once semantics (#1885)
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/spannerchangestreamstobigquery/BigQueryDynamicDestinations.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/spannerchangestreamstobigquery/BigQueryDynamicDestinationsTest.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/spannerchangestreamstobigquery/SpannerChangeStreamsToBigQueryIT.java
Owners: none

Applied mvn:spotless apply
  v1/src/main/java/com/google/cloud/teleport/bigtable/CassandraToBigtable.java
Owners: @GoogleCloudPlatform/bigtable-migrations-team

feat: maps AVRO BYTES ByteBuffer column
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/avro/AvroToValueMapper.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/AvroToValueMapperTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/GenericRecordTypeConvertorTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

added max connections
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToSourceDbLTBase.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

doc fixes
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToMySqlSourceLT.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

tps increase
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToMySqlSourceLT.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToSourceDbLTBase.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Adding integration tests for the Spanner to SourceDb template (#1880)
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/SpannerToSourceDb.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToSourceDbCustomShardIT.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToSourceDbDatatypeIT.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToSourceDbIT.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToSourceDbITBase.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToSourceDbInterleaveMultiShardIT.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToSourceDbTimezoneIT.java
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbCustomShardIT/mysql-schema.sql
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbCustomShardIT/session.json
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbCustomShardIT/spanner-schema.sql
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbDatatypeIT/mysql-schema.sql
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbDatatypeIT/session.json
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbDatatypeIT/spanner-schema.sql
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbIT/mysql-schema.sql
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbIT/session.json
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbIT/spanner-schema.sql
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbInterleaveMultiShardIT/mysql-schema.sql
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbInterleaveMultiShardIT/session.json
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbInterleaveMultiShardIT/spanner-schema.sql
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbTimezoneIT/mysql-schema.sql
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbTimezoneIT/session.json
  v2/spanner-to-sourcedb/src/test/resources/SpannerToSourceDbTimezoneIT/spanner-schema.sql
Owners: @GoogleCloudPlatform/spanner-migrations-team

review comments fixed
  v2/spanner-to-sourcedb/README.md
Owners: @GoogleCloudPlatform/spanner-migrations-team

addressing comments
  pom.xml
  v2/datastream-common/src/main/java/com/google/cloud/teleport/v2/datastream/sources/DataStreamIO.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/SpannerTransactionWriterDoFn.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/utils/WatchdogRunnable.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/utils/WatchdogRunnableTest.java
Owners: @GoogleCloudPlatform/datastream, @GoogleCloudPlatform/spanner-migrations-team

spotless fix
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

spotless fix
  v2/datastream-common/src/main/java/com/google/cloud/teleport/v2/datastream/sources/DataStreamIO.java
Owners: @GoogleCloudPlatform/datastream, @GoogleCloudPlatform/spanner-migrations-team

fix: default to bytebuffer instead of byte[]
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/avro/AvroToValueMapper.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/AvroToValueMapperTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/GenericRecordTypeConvertorTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

review comments added
  v2/spanner-to-sourcedb/README.md
Owners: @GoogleCloudPlatform/spanner-migrations-team

build fix
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/utils/WatchdogRunnable.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

added user guide (#1888)
  v2/spanner-to-sourcedb/README.md
Owners: @GoogleCloudPlatform/spanner-migrations-team

more ut
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/AssignShardIdFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/ConvertChangeStreamErrorRecordToFailsafeElementFnTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

load test automation (#1891)
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToMySqlSourceLT.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToSourceDbLTBase.java
  v2/spanner-to-sourcedb/src/test/resources/SpannerToMySqlSourceLT/datagenerator-schema.json
  v2/spanner-to-sourcedb/src/test/resources/SpannerToMySqlSourceLT/mysql-schema.sql
  v2/spanner-to-sourcedb/src/test/resources/SpannerToMySqlSourceLT/session.json
  v2/spanner-to-sourcedb/src/test/resources/SpannerToMySqlSourceLT/spanner-schema.sql
Owners: @GoogleCloudPlatform/spanner-migrations-team

Revert "Added support for WHERE ... IS NOT NULL for indexes (#1859)" (#1892)
  v1/src/main/java/com/google/cloud/teleport/spanner/ddl/Index.java
  v1/src/main/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScanner.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScannerIT.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScannerTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

testSpannerToGCSAvroStaging
  v1/src/test/java/com/google/cloud/teleport/spanner/ExportPipelineIT.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

add attributes pull option to pubsubtotext pipeline
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/pubsubtotext/PubsubToText.java
Owners: none

fix load tests
  .github/workflows/load-tests.yml
Owners: none

fix: update error message
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/avro/AvroToValueMapper.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

feat: maps AVRO BYTES ByteBuffer column (#1893)
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/avro/AvroToValueMapper.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/AvroToValueMapperTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/GenericRecordTypeConvertorTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

added some more coverage
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/AssignShardIdFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/ConvertChangeStreamErrorRecordToFailsafeElementFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/UpdateDlqMetricsFnTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

more coverage added
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/changestream/DataChangeRecordTypeConvertor.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/transforms/AssignShardIdFn.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ConnectionHelper.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ShadowTableRecord.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/SpannerDao.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/changestream/DataChangeRecordTypeConvertorTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/AssignShardIdFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/ConvertChangeStreamErrorRecordToFailsafeElementFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/SourceWriterFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/MySqlDaoTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/ShardIdFetcherImplTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/SpannerDaoTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Fix readStringFromKafka and readAvroFromKafka
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/KafkaTransform.java
Owners: none

final touches
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ShadowTableCreator.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/SourceWriterFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/DMLGeneratorTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/ShadowTableCreatorTest.java
  v2/spanner-to-sourcedb/src/test/resources/errorSchemaSession.json
Owners: @GoogleCloudPlatform/spanner-migrations-team

one last mile
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/ConvertChangeStreamErrorRecordToFailsafeElementFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/DMLGeneratorTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/ShadowTableCreatorTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

yet another corner case
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/AssignShardIdFnTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

blah
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/changestream/DataChangeRecordTypeConvertorTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/DMLGeneratorTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Add warnings for excess tables
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/constants/SourceDbToSpannerConstants.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/PipelineController.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Change enablecommitoffsets parameter type
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/KafkaTransform.java
Owners: none

Added support for WHERE ... IS NOT NULL for indexes
  v1/src/main/java/com/google/cloud/teleport/spanner/ddl/Index.java
  v1/src/main/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScanner.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScannerIT.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Updated InformationSchemaScannerTest
  v1/src/test/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScannerTest.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Ran mvn spotless:apply
  v1/src/main/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScanner.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Set commitOffsetsInFinalize()
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/KafkaTransform.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQuery.java
Owners: none

Remove sslconfig
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/KafkaTransform.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQuery.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
Owners: none

feat: add multiple type mapping for PG adapter
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/provider/PostgreSQLJdbcValueMappings.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/PostgreSQLMappingProvider.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/CustomAsserts.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/JdbcSourceRowMapperTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/PostgreSQLMappingProviderTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataTypesIt.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/SourceDbToSpannerITBase.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/postgresql/DataTypesIT.java
  v2/sourcedb-to-spanner/src/test/resources/DataTypesIt/mysql/data-types.sql
  v2/sourcedb-to-spanner/src/test/resources/DataTypesIt/mysql/spanner-schema.sql
  v2/sourcedb-to-spanner/src/test/resources/DataTypesIt/postgresql/data-types.sql
  v2/sourcedb-to-spanner/src/test/resources/DataTypesIt/postgresql/spanner-schema.sql
Owners: @GoogleCloudPlatform/spanner-migrations-team

Fixed the broken mysql link
  v2/jdbc-to-googlecloud/README_Jdbc_to_BigQuery_Flex.md
  v2/jdbc-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/JdbcToBigQueryOptions.java
  v2/mysql-to-googlecloud/README_MySQL_to_BigQuery.md
  v2/oracle-to-googlecloud/README_Oracle_to_BigQuery.md
  v2/postgresql-to-googlecloud/README_PostgreSQL_to_BigQuery.md
  v2/sqlserver-to-googlecloud/README_SQLServer_to_BigQuery.md
Owners: none
