Repository GoogleCloudPlatform/DataflowTemplates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/dataflow-templates-wg, @GoogleCloudPlatform/spanner-migrations-team, @GoogleCloudPlatform/datastream, @GoogleCloudPlatform/bigtable-migrations-team

Added secret manager support for sqlserver-to-bigquery template (#1947)
  v2/jdbc-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/JdbcToBigQueryOptions.java
  v2/jdbc-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/JdbcToBigQuery.java
  v2/jdbc-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/JdbcToBigQueryIT.java
  v2/sqlserver-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/SQLServerToBigQueryOptions.java
Owners: none

Revert "Re-enabling unsigned tests (#1942)"
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataTypesIT.java
  v2/sourcedb-to-spanner/src/test/resources/DataTypesIT/mysql/spanner-schema.sql
Owners: @GoogleCloudPlatform/spanner-migrations-team

remove doc generation for stage-only images
  metadata/src/main/java/com/google/cloud/teleport/metadata/Template.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/TemplateSpecsGenerator.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/TemplateSpecsGeneratorTest.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/sample/AtoBNestedFlex.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
  v2/googlecloud-to-googlecloud/README_Spanner_Change_Streams_to_PubSub.md
  v2/googlecloud-to-googlecloud/README_Stream_GCS_Text_to_BigQuery_Flex.md
  v2/googlecloud-to-googlecloud/README_Stream_GCS_Text_to_BigQuery_Xlang.md
  v2/kafka-to-bigquery/README_Kafka_to_BigQuery_Flex.md
  v2/kafka-to-gcs/README_Kafka_to_Gcs_Flex.md
  v2/mongodb-to-googlecloud/README_MongoDB_to_BigQuery.md
  v2/mongodb-to-googlecloud/README_MongoDB_to_BigQuery_CDC.md
  v2/sourcedb-to-spanner/README_Cloud_Datastream_to_Spanner.md
  v2/sourcedb-to-spanner/README_Sourcedb_to_Spanner_Flex.md
Owners: @GoogleCloudPlatform/dataflow-templates-wg, @GoogleCloudPlatform/spanner-migrations-team

Generate SBOM for AR images
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesReleaseMojo.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesRunMojo.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
Owners: @GoogleCloudPlatform/dataflow-templates-wg

enable sbom gneration by default
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesRunMojo.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
Owners: @GoogleCloudPlatform/dataflow-templates-wg

add retry to sbom generation
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/TemplateTestBase.java
  it/pom.xml
  plugins/templates-maven-plugin/pom.xml
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesReleaseMojo.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
  pom.xml
Owners: @GoogleCloudPlatform/dataflow-templates-wg

Update ImportPipeline.java
  v1/src/main/java/com/google/cloud/teleport/spanner/ImportPipeline.java
Owners: @GoogleCloudPlatform/spanner-migrations-team

Fixing typo in smallint_unsigned
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataTypesIT.java
  v2/sourcedb-to-spanner/src/test/resources/DataTypesIT/mysql/data-types.sql
  v2/sourcedb-to-spanner/src/test/resources/DataTypesIT/mysql/spanner-schema.sql
Owners: @GoogleCloudPlatform/spanner-migrations-team

Fixing typo in smallint_unsigned (#1953)
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataTypesIT.java
  v2/sourcedb-to-spanner/src/test/resources/DataTypesIT/mysql/data-types.sql
  v2/sourcedb-to-spanner/src/test/resources/DataTypesIT/mysql/spanner-schema.sql
Owners: @GoogleCloudPlatform/spanner-migrations-team

Added the queryTempDataset option for the BQ read options
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/BigQueryConverters.java
Owners: none

Fixed the spotless
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/BigQueryConverters.java
Owners: none

.github/CODEOWNERS:

# review when someone opens a pull request

# Core templates cicd
.github/ @GoogleCloudPlatform/dataflow-templates-wg
cicd/ @GoogleCloudPlatform/dataflow-templates-wg

# Core templates infra
metadata/ @GoogleCloudPlatform/dataflow-templates-wg
plaintext-logging/ @GoogleCloudPlatform/dataflow-templates-wg
plugins/ @GoogleCloudPlatform/dataflow-templates-wg
structured-logging/ @GoogleCloudPlatform/dataflow-templates-wg
checkstyle/ @GoogleCloudPlatform/dataflow-templates-wg

# Templates testing infra
it/ @GoogleCloudPlatform/dataflow-templates-wg

# Root template files
.gitignore @GoogleCloudPlatform/dataflow-templates-wg
cloudbuild.yaml @GoogleCloudPlatform/dataflow-templates-wg
CONTRIBUTING.md @GoogleCloudPlatform/dataflow-templates-wg
CONTRIBUTORS.md @GoogleCloudPlatform/dataflow-templates-wg
JAVA_LICENSE_HEADER @GoogleCloudPlatform/dataflow-templates-wg
LICENSE @GoogleCloudPlatform/dataflow-templates-wg
README.md @GoogleCloudPlatform/dataflow-templates-wg
SECURITY.md @GoogleCloudPlatform/dataflow-templates-wg

# Top-level maven files
pom.xml @GoogleCloudPlatform/dataflow-templates-wg
v2/pom.xml @GoogleCloudPlatform/dataflow-templates-wg
v1/pom.xml @GoogleCloudPlatform/dataflow-templates-wg

# YAML and Python templates
python/ @GoogleCloudPlatform/dataflow-templates-wg
yaml/ @GoogleCloudPlatform/dataflow-templates-wg

# Docs
contributor-docs/ @GoogleCloudPlatform/dataflow-templates-wg

# Spanner Import Export templates
v1/src/main/java/com/google/cloud/teleport/spanner/ @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/spanner/ @GoogleCloudPlatform/spanner-migrations-team
v1/src/main/java/com/google/cloud/teleport/templates/SpannerToText.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/main/java/com/google/cloud/teleport/templates/common/SpannerConverters.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextIT.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextLT.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextTest.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/common/SpannerConverterTest.java @GoogleCloudPlatform/spanner-migrations-team

# Datastream To spanner template
v2/datastream-to-spanner/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-common/ @GoogleCloudPlatform/spanner-migrations-team

# Spanner To other database reverse replication templates
v2/spanner-change-streams-to-sharded-file-sink/ @GoogleCloudPlatform/spanner-migrations-team
v2/gcs-to-sourcedb/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-migrations-sdk/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-custom-shard/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-to-sourcedb/ @GoogleCloudPlatform/spanner-migrations-team

# Spanner testing infra
it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/spanner @GoogleCloudPlatform/dataflow-templates-wg
lt/

# Spanner workflow files
.github/workflows/spanner-pr.yml @GoogleCloudPlatform/spanner-migrations-team
.github/workflows/spanner-load-tests.yml @GoogleCloudPlatform/spanner-migrations-team
.github/workflows/spanner-terraform-validator.yml @GoogleCloudPlatform/spanner-migrations-team

# Datastream Templates
v2/datastream-to-sql/ @GoogleCloudPlatform/datastream
v2/datastream-to-bigquery/ @GoogleCloudPlatform/datastream
v2/datastream-to-postgres/ @GoogleCloudPlatform/datastream
v2/datastream-to-mongodb/ @GoogleCloudPlatform/datastream
v2/datastream-common/ @GoogleCloudPlatform/datastream @GoogleCloudPlatform/spanner-migrations-team

# Spanner Bulk migration template
v2/sourcedb-to-spanner/ @GoogleCloudPlatform/spanner-migrations-team

# Bigtable Import Export templates
v1/src/main/java/com/google/cloud/teleport/bigtable @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/bigtable @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToAvroIT.java @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToJsonIT.java @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToParquetIT.java @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToVectorEmbeddingsIT.java @GoogleCloudPlatform/bigtable-migrations-team

# Bigtable CDC shared logic
v2/bigtable-changestreams-to-hbase/ @GoogleCloudPlatform/bigtable-migrations-team
v2/bigtable-common/ @GoogleCloudPlatform/bigtable-migrations-team
