Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2020-06, with the labels that each got.

#128 Fix batched messages sent to deadletter topic for PubSubToSplunk template
  src/main/java/com/google/cloud/teleport/splunk/HttpEventPublisher.java
  src/main/java/com/google/cloud/teleport/splunk/SplunkEventWriter.java
Labels: Google LGTM, cla: yes

#134 amending readme with current build instructions
  v2/pubsub-cdc-to-bigquery/README.md
Labels: Google LGTM, cdc, cla: yes, size/S

#136 Fix for missing table whitelist in Dataflow CDC Example
  v2/cdc-parent/cdc-embedded-connector/src/main/java/com/google/cloud/dataflow/cdc/connector/DebeziumMysqlToPubSubDataSender.java
Labels: Google LGTM, cdc, cla: yes

#142 patch parameter passing in readme
  v2/kafka-to-bigquery/README.md
Labels: Google LGTM, cla: yes, size/XS
