Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2022-10, with the labels that each got.

#455 Add manual workflow to create Releases.
  .github/workflows/release.yml
Labels: Google LGTM, size/M

#472 Issue 447 - Create Bigquery Resource Manager
  it/pom.xml
  it/src/main/java/com/google/cloud/teleport/it/bigquery/BigQueryResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/bigquery/BigQueryResourceManagerException.java
  it/src/main/java/com/google/cloud/teleport/it/bigquery/BigQueryResourceManagerUtils.java
  it/src/main/java/com/google/cloud/teleport/it/bigquery/DefaultBigQueryResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/bigquery/package-info.java
  it/src/main/java/com/google/cloud/teleport/it/common/ResourceManagerUtils.java
  it/src/main/java/com/google/cloud/teleport/it/common/package-info.java
  it/src/test/java/com/google/cloud/teleport/it/bigquery/BigQueryResourceManagerUtilsTest.java
  it/src/test/java/com/google/cloud/teleport/it/bigquery/DefaultBigQueryResourceManagerTest.java
Labels: Google LGTM, size/XXL

#445 Issue 442 - Create Bigtable Resource Manager
  it/src/main/java/com/google/cloud/teleport/it/bigtable/BigtableResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/bigtable/BigtableResourceManagerClientFactory.java
  it/src/main/java/com/google/cloud/teleport/it/bigtable/BigtableResourceManagerCluster.java
  it/src/main/java/com/google/cloud/teleport/it/bigtable/BigtableResourceManagerException.java
  it/src/main/java/com/google/cloud/teleport/it/bigtable/BigtableResourceManagerUtils.java
  it/src/main/java/com/google/cloud/teleport/it/bigtable/DefaultBigtableResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/bigtable/package-info.java
  it/src/main/java/com/google/cloud/teleport/it/spanner/DefaultSpannerResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/spanner/SpannerResourceManagerUtils.java
  it/src/test/java/com/google/cloud/teleport/it/bigtable/BigtableResourceManagerClientFactoryTest.java
  it/src/test/java/com/google/cloud/teleport/it/bigtable/BigtableResourceManagerClusterTest.java
  it/src/test/java/com/google/cloud/teleport/it/bigtable/BigtableResourceManagerUtilsTest.java
  it/src/test/java/com/google/cloud/teleport/it/bigtable/DefaultBigtableResourceManagerTest.java
  it/src/test/java/com/google/cloud/teleport/it/common/ResourceManagerUtilsTest.java
  it/src/test/java/com/google/cloud/teleport/it/spanner/DefaultSpannerResourceManagerTest.java
  it/src/test/java/com/google/cloud/teleport/it/spanner/SpannerResourceManagerUtilsTest.java
Labels: Google LGTM, size/XXL

#494 Removing useless scripts from Syndeo template
  syndeo-template/src/main/java/com/google/cloud/syndeo/ConfigGen.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/WritePipelineSpecForTesting.java
Labels: Google LGTM, size/L

#495 Jdbc To BigQuery Flex Template : New Option For Data loading strategy
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/JdbcToBigQueryOptions.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/JdbcToBigQuery.java
Labels: Google LGTM, size/S

#487 syndeo should only build in open source. it does not need to build internally
  pom.xml
Labels: Google LGTM, size/S

#444 Prototyping the BQ to BT solution for Syndeo
  syndeo-template/README.md
  syndeo-template/pom.xml
  syndeo-template/src/main/java/com/google/cloud/syndeo/SyndeoTemplate.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/ProtoTranslation.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/ProviderUtil.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/SchemaIOTransformProviderWrapper.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/TypedSchemaTransformProvider.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigquery/BigQueryReadSchemaTransformProvider.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigquery/BigQuerySyndeoServices.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigtable/BeamSchemaToBytesTransformers.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigtable/BigTableIOWriteSchemaBasedTransform.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigtable/BigTableWriteSchemaTransformConfiguration.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigtable/BigTableWriteSchemaTransformProvider.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/common/SchemaIOTransformProviderWrapperTest.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/it/BigTableWriteIT.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/BigTableSchemaTransformTest.java
Labels: Google LGTM, size/XXL

#496 Updating pom.version to project.version
  v2/googlecloud-to-googlecloud/pom.xml
Labels: Google LGTM, size/XS

#461 Sketching a JSON-based pipeline build for Syndeo
  syndeo-template/NOTES.md
  syndeo-template/pom.xml
  syndeo-template/src/main/java/com/google/cloud/syndeo/SyndeoTemplate.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/ProviderUtil.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/SchemaIOTransformProviderWrapper.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/common/SchemaIOTransformProviderWrapperTest.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/JsonToPipelineSpecBuilderTest.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/KafkaToBigQueryLocalTest.java
  syndeo-template/src/test/resources/json_spec_payload_sample.json
  syndeo-template/src/test/resources/json_spec_payload_schema.json
Labels: Google LGTM, size/XL
