Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2022-08, with the labels that each got.

#427 Updated static to parallel processing
  v2/googlecloud-to-mongodb/docs/BigQueryToMongoDb/README.md
  v2/googlecloud-to-mongodb/docs/BigQueryToMongoDb/bigquery-to-mongodb-image-spec-metadata.json
  v2/googlecloud-to-mongodb/pom.xml
  v2/googlecloud-to-mongodb/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/BigQueryToMongoDb.java
  v2/mongodb-to-googlecloud/docs/MongoDbToBigQuery/README.md
  v2/mongodb-to-googlecloud/docs/MongoDbToBigQuery/mongodb-to-bigquery-image-spec-metadata.json
  v2/mongodb-to-googlecloud/docs/MongoDbToBigQueryCDC/README.md
  v2/mongodb-to-googlecloud/docs/MongoDbToBigQueryCDC/mongodb-to-bigquery-cdc-image-spec-metadata.json
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQuery.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQueryCdc.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbUtils.java
Labels: Google LGTM, size/L

#433 Fix issue with null error messages in BulkDecompressor
  src/main/java/com/google/cloud/teleport/spanner/AvroSchemaToDdlConverter.java
  src/main/java/com/google/cloud/teleport/spanner/ExportPipeline.java
  src/main/java/com/google/cloud/teleport/spanner/ImportPipeline.java
  src/main/java/com/google/cloud/teleport/spanner/TextImportPipeline.java
  src/main/java/com/google/cloud/teleport/spanner/ddl/Index.java
  src/main/java/com/google/cloud/teleport/spanner/ddl/IndexColumn.java
  src/main/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScanner.java
  src/main/java/com/google/cloud/teleport/spanner/ddl/Table.java
  src/main/java/com/google/cloud/teleport/templates/BulkDecompressor.java
  src/main/java/com/google/cloud/teleport/templates/SpannerToText.java
  src/main/java/com/google/cloud/teleport/templates/common/SplunkTokenSource.java
  src/main/java/com/google/cloud/teleport/util/SecretManagerValueProvider.java
  src/main/java/com/google/cloud/teleport/util/TokenNestedValueProvider.java
  src/test/java/com/google/cloud/teleport/spanner/CopyDbTest.java
  src/test/java/com/google/cloud/teleport/spanner/DdlToAvroSchemaConverterTest.java
  src/test/java/com/google/cloud/teleport/spanner/ImportFromAvroTest.java
  src/test/java/com/google/cloud/teleport/spanner/SpannerServerResource.java
  src/test/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScannerIT.java
  src/test/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScannerTest.java
  src/test/java/com/google/cloud/teleport/templates/SpannerServerResource.java
  src/test/java/com/google/cloud/teleport/util/TokenNestedValueProviderTest.java
Labels: Google LGTM, size/L

#425 Created Spanner Resource Manager
  it/src/main/java/com/google/cloud/teleport/it/spanner/DefaultSpannerResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/spanner/SpannerResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/spanner/SpannerResourceManagerException.java
  it/src/main/java/com/google/cloud/teleport/it/spanner/SpannerResourceManagerUtils.java
  it/src/main/java/com/google/cloud/teleport/it/spanner/package-info.java
  it/src/test/java/com/google/cloud/teleport/it/spanner/DefaultSpannerResourceManagerTest.java
  it/src/test/java/com/google/cloud/teleport/it/spanner/SpannerResourceManagerUtilsTest.java
Labels: Google LGTM, size/XXL

#435 Debug template options
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/SpannerToBigQueryOptions.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/SpannerToBigQuery.java
Labels: Google LGTM, size/XS

#434 MongoDB batch template - Removed bucketing to avoid aggregation at read time
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQuery.java
Labels: Google LGTM, size/XS

#399 ElasticsearchIO template improvements
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/options/ElasticsearchWriteOptions.java
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/transforms/ValueExtractorTransform.java
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/transforms/WriteToElasticsearch.java
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/utils/BulkInsertMethod.java
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/utils/ElasticsearchIO.java
  v2/elasticsearch-common/src/test/java/com/google/cloud/teleport/v2/elasticsearch/transforms/ValueExtractorTransformTest.java
  v2/googlecloud-to-elasticsearch/docs/BigQueryToElasticsearch/README.md
  v2/googlecloud-to-elasticsearch/docs/GCSToElasticsearch/README.md
  v2/googlecloud-to-elasticsearch/docs/PubSubToElasticsearch/README.md
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/templates/BigQueryToElasticsearch.java
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/templates/GCSToElasticsearch.java
Labels: Google LGTM, size/XL

#430 Add manual workflow to create Releases.
  .github/workflows/release.yml
Labels: size/M

#438 Fix broken tutorial link
  tutorials/README.md
Labels: Google LGTM, size/XS

#437 Update MongoDbUtils.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbUtils.java
Labels: Google LGTM, size/S

#436 fix special characters in dataset name
  v2/common/src/main/java/com/google/cloud/teleport/v2/cdc/mappers/DataStreamMapper.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/cdc/mappers/MergeInfoMapper.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/BigQueryConverters.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/values/DatastreamRow.java
  v2/common/src/test/java/com/google/cloud/teleport/v2/transforms/BigQueryConvertersTest.java
Labels: bug, Google LGTM, size/M

#449 Avoid test error when pipeline.apply() is called without pipeline.run()
  v2/common/src/test/java/com/google/cloud/teleport/v2/transforms/AvroConvertersTest.java
  v2/common/src/test/java/com/google/cloud/teleport/v2/transforms/ParquetConvertersTest.java
  v2/common/src/test/java/com/google/cloud/teleport/v2/transforms/WriteToGCSAvroTest.java
  v2/common/src/test/java/com/google/cloud/teleport/v2/transforms/WriteToGCSParquetTest.java
  v2/common/src/test/java/com/google/cloud/teleport/v2/transforms/WriteToGCSTextTest.java
Labels: Google LGTM, size/L, unit testing

#422 Start migrating meta-template (i.e. a template that supports configurable source/sink pairs) to templates repo
  cicd/internal/repo/modules.go
  syndeo-template/README.md
  syndeo-template/metadata.json
  syndeo-template/pom.xml
  syndeo-template/src/main/java/com/google/cloud/syndeo/ConfigGen.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/SyndeoTemplate.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/WritePipelineSpecForTesting.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/ProtoTranslation.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/ProviderUtil.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/SchemaIOTransformProviderWrapper.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/SchemaUtil.java
  syndeo-template/src/main/proto/syndeo.proto
  syndeo-template/src/test/java/common/SchemaIOTransformProviderWrapperTest.java
  unified-templates.xml
Labels: Google LGTM, size/XXL
