Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2022-12, with the labels that each got.

#524 Create MongoDB Resource Manager
  it/pom.xml
  it/src/main/java/com/google/cloud/teleport/it/TemplateTestBase.java
  it/src/main/java/com/google/cloud/teleport/it/TestProperties.java
  it/src/main/java/com/google/cloud/teleport/it/bigquery/BigQueryResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/bigquery/DefaultBigQueryResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/bigtable/BigtableResourceManagerUtils.java
  it/src/main/java/com/google/cloud/teleport/it/mongodb/DefaultMongoDBResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/mongodb/MongoDBResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/mongodb/MongoDBResourceManagerException.java
  it/src/main/java/com/google/cloud/teleport/it/mongodb/MongoDBResourceManagerUtils.java
  it/src/main/java/com/google/cloud/teleport/it/mongodb/package-info.java
  it/src/main/java/com/google/cloud/teleport/it/testcontainers/TestContainerResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/testcontainers/TestContainerResourceManagerException.java
  it/src/main/java/com/google/cloud/teleport/it/testcontainers/package-info.java
  it/src/test/java/com/google/cloud/teleport/it/bigquery/DefaultBigQueryResourceManagerTest.java
  it/src/test/java/com/google/cloud/teleport/it/bigtable/BigtableResourceManagerUtilsTest.java
  it/src/test/java/com/google/cloud/teleport/it/mongodb/DefaultMongoDBResourceManagerTest.java
  it/src/test/java/com/google/cloud/teleport/it/mongodb/MongoDBResourceManagerUtilsTest.java
  it/src/test/java/com/google/cloud/teleport/it/testcontainers/TestContainerResourceManagerTest.java
  v2/cdc-parent/README.md
  v2/mongodb-to-googlecloud/pom.xml
  v2/mongodb-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQueryIT.java
Labels: Google LGTM, size/XXL, integration testing, Bigquery, MongoDB

#490 Trigger Java PR workflow when any XML is changed + files are deleted
  .github/actions/setup-env/action.yml
  .github/workflows/java-pr.yml
  cicd/internal/workflows/maven-workflows.go
Labels: Google LGTM, size/XS, process

#523 Create udf for MongoDB BigQuery Templates
  v2/common/pom.xml
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/JavascriptDocumentTransformer.java
  v2/mongodb-to-googlecloud/docs/MongoDbToBigQuery/README.md
  v2/mongodb-to-googlecloud/docs/MongoDbToBigQuery/mongodb-to-bigquery-image-spec-metadata.json
  v2/mongodb-to-googlecloud/docs/MongoDbToBigQueryCDC/README.md
  v2/mongodb-to-googlecloud/docs/MongoDbToBigQueryCDC/mongodb-to-bigquery-cdc-image-spec-metadata.json
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/options/MongoDbToBigQueryOptions.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQuery.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQueryCdc.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbUtils.java
Labels: Google LGTM, size/XL, MongoDB

#530 Rethrow exception from ExtractGcsFile so that Dataflow will retry the pardo
  v2/common/src/main/java/com/google/cloud/teleport/v2/cdc/sources/DataStreamIO.java
Labels: Google LGTM, size/XS

#525 Use released version of Beam 2.43.0
  syndeo-template/pom.xml
Labels: Google LGTM, size/XS

#532 Separating JSON build as it's blocked in #467
  syndeo-template/metadata.json
  syndeo-template/src/main/java/com/google/cloud/syndeo/SyndeoTemplate.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/ProviderUtil.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/SchemaIOTransformProviderWrapper.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigtable/BigTableWriteSchemaTransformConfiguration.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/common/SyndeoTemplateLaunchTest.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/JsonToPipelineSpecBuilderTest.java
  syndeo-template/src/test/resources/json_spec_payload_sample.json
  syndeo-template/src/test/resources/json_spec_payload_schema.json
  syndeo-template/src/test/resources/simplelogger.properties
Labels: Google LGTM, size/L

#500 Update execution command
  v2/streaming-data-generator/README.md
Labels: Google LGTM, size/S

#534 Use "verify" instead of "install" for unit tests workflow
  cicd/cmd/run-unit-tests/main.go
  cicd/internal/workflows/maven-workflows.go
Labels: Google LGTM, size/S

#531 Add Pub/Sub to BigQuery and Pub/Sub to Pub/Sub integration tests.
  it/src/main/java/com/google/cloud/teleport/it/TemplateTestBase.java
  it/src/main/java/com/google/cloud/teleport/it/matchers/RecordsSubject.java
  it/src/main/java/com/google/cloud/teleport/it/pubsub/DefaultPubsubResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/pubsub/PubsubResourceManager.java
  metadata/src/main/java/com/google/cloud/teleport/metadata/TemplateIntegrationTest.java
  v1/pom.xml
  v1/src/test/java/com/google/cloud/teleport/templates/BulkCompressorIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/BulkDecompressorIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubSubscriptionToBigQueryIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubToPubSubIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubTopicToBigQueryIT.java
  v2/common/src/test/java/com/google/cloud/teleport/v2/utils/BigQueryIOUtilsTest.java
  v2/mongodb-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQueryIT.java
Labels: Google LGTM, size/L

#510 Performance testing framework.
  it/pom.xml
  it/src/main/java/com/google/cloud/teleport/it/DataGenerator.java
  it/src/main/java/com/google/cloud/teleport/it/PerformanceBenchmarkingBase.java
  it/src/main/java/com/google/cloud/teleport/it/TemplateTestBase.java
  it/src/main/java/com/google/cloud/teleport/it/TestProperties.java
  it/src/main/java/com/google/cloud/teleport/it/bigquery/BigQueryResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/bigquery/DefaultBigQueryResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/dataflow/AbstractDataflowClient.java
  it/src/main/java/com/google/cloud/teleport/it/dataflow/AbstractDataflowTemplateClient.java
  it/src/main/java/com/google/cloud/teleport/it/dataflow/ClassicTemplateClient.java
  it/src/main/java/com/google/cloud/teleport/it/dataflow/DataflowClient.java
  it/src/main/java/com/google/cloud/teleport/it/dataflow/DataflowOperator.java
  it/src/main/java/com/google/cloud/teleport/it/dataflow/DefaultDataflowClient.java
  it/src/main/java/com/google/cloud/teleport/it/dataflow/FlexTemplateClient.java
  it/src/main/java/com/google/cloud/teleport/it/logging/LogStrings.java
  it/src/main/java/com/google/cloud/teleport/it/monitoring/MonitoringClient.java
  it/src/main/java/com/google/cloud/teleport/it/monitoring/package-info.java
  it/src/main/java/com/google/cloud/teleport/it/pubsub/DefaultPubsubResourceManager.java
  it/src/test/java/com/google/cloud/teleport/it/dataflow/AbstractDataflowClientTest.java
  it/src/test/java/com/google/cloud/teleport/it/dataflow/ClassicTemplateClientTest.java
  it/src/test/java/com/google/cloud/teleport/it/dataflow/DataflowOperatorTest.java
  it/src/test/java/com/google/cloud/teleport/it/dataflow/FlexTemplateClientTest.java
  v1/pom.xml
  v1/src/test/java/com/google/cloud/teleport/templates/BulkCompressorIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/BulkDecompressorIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubSubscriptionToBigQueryIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubToPubSubIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubTopicToBigQueryIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubsubToBigQueryPerformanceIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubsubToPubsubPerformanceIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/pubsubtotext/PubsubToTextIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/pubsubtotext/PubsubToTextPerformanceIT.java
  v2/mongodb-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQueryIT.java
  v2/pubsub-binary-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/PubsubAvroToBigQueryIT.java
  v2/streaming-data-generator/src/test/java/com/google/cloud/teleport/v2/templates/StreamingDataGeneratorIT.java
  v2/streaming-data-generator/src/test/java/com/google/cloud/teleport/v2/templates/StreamingDataGeneratorPerformanceIT.java
Labels: Google LGTM, size/XXL

#467 An integration test for the Kafka-to-BQ flow in Syndeo
  .github/workflows/java-pr.yml
  cicd/cmd/run-unit-tests/main.go
  cicd/internal/workflows/maven-workflows.go
  it/pom.xml
  it/src/main/java/com/google/cloud/teleport/it/bigquery/BigQueryResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/bigquery/DefaultBigQueryResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/bigquery/package-info.java
  it/src/main/java/com/google/cloud/teleport/it/dataflow/AbstractDataflowClient.java
  it/src/main/java/com/google/cloud/teleport/it/dataflow/DataflowOperator.java
  it/src/main/java/com/google/cloud/teleport/it/dataflow/DataflowUtils.java
  it/src/main/java/com/google/cloud/teleport/it/dataflow/FlexTemplateClient.java
  it/src/main/java/com/google/cloud/teleport/it/pubsub/PubsubUtils.java
  syndeo-template/TESTING.md
  syndeo-template/pom.xml
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigtable/BigTableIOWriteSchemaBasedTransform.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigtable/BigTableWriteSchemaTransformConfiguration.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/it/BigTableWriteIT.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/it/KafkaToBigQueryIT.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/KafkaToBigQueryLocalTest.java
Labels: Google LGTM, size/XL
