Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2022-05, with the labels that each got.

#370 Add support for Elasticsearch 8
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/utils/ElasticsearchIO.java
Labels: Google LGTM, size/M

#369 Support Elasticsearch 8.x
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/utils/ElasticsearchIO.java
Labels: Google LGTM, size/XS

#392 Remove hive-to-bigquery template
  v2/hive-to-bigquery/README.md
  v2/hive-to-bigquery/pom.xml
  v2/hive-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/HiveToBigQuery.java
  v2/hive-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/package-info.java
  v2/hive-to-bigquery/src/main/resources/core-site.xml
  v2/hive-to-bigquery/src/main/resources/hive-to-bigquery-command-spec.json
  v2/pom.xml
Labels: Google LGTM, size/XL
