Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2023-02, with the labels that each got.

#572 Updating template to generate BQ and PS configs properly
  cicd/internal/workflows/maven-workflows.go
  syndeo-template/pom.xml
  syndeo-template/src/main/java/com/google/cloud/syndeo/SyndeoTemplate.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigtable/BigTableIOWriteSchemaBasedTransform.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/BigTableSchemaTransformTest.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/KafkaToBigQueryLocalTest.java
Labels: Google LGTM, size/S

#554 Draft of PS Lite to BigTable perf test
  .github/workflows/java-pr.yml
  .github/workflows/syndeo-pr.yml
  it/pom.xml
  it/src/main/java/com/google/cloud/teleport/it/bigtable/DefaultBigtableResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/pubsublite/DefaultPubsubliteResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/pubsublite/PubsubLiteResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/pubsublite/PubsubliteResourceManagerException.java
  it/src/main/java/com/google/cloud/teleport/it/pubsublite/package-info.java
  metadata/src/main/java/com/google/cloud/teleport/metadata/TemplateLoadTest.java
  syndeo-template/TESTING.md
  syndeo-template/pom.xml
  syndeo-template/src/main/java/com/google/cloud/syndeo/SyndeoTemplate.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/SyndeoStatsSchemaTransformProvider.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigtable/BigTableIOWriteSchemaBasedTransform.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigtable/BigTableWriteSchemaTransformProvider.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/common/SyndeoTemplateLaunchTest.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/it/KafkaToBigQueryIT.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/SyndeoLoadLT.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/SyndeoLoadTestUtils.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/BigTableSchemaTransformTest.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/KafkaToBigQueryLocalTest.java
Labels: Google LGTM, size/XXL

#580 updated proto-java to 3.21.9 to resolve conflicts
  syndeo-template/pom.xml
Labels: Google LGTM, size/XS

#469 Allow usage of a different project id when doing merge
  v2/common/src/main/java/com/google/cloud/teleport/v2/cdc/merge/BigQueryMerger.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/cdc/merge/MergeConfiguration.java
  v2/datastream-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToBigQuery.java
Labels: bug, Google LGTM, size/S

#581 A first test for a scalar sql transform for Syndeo
  syndeo-template/pom.xml
  syndeo-template/src/main/java/com/google/cloud/syndeo/SyndeoTemplate.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/ProviderUtil.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigtable/BigTableIOWriteSchemaBasedTransform.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/sql/SyndeoSqlSchemaTransformProvider.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/SyndeoLoadLT.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/SyndeoLoadTestUtils.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/JsonToPipelineSpecBuilderBadSamplesTest.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/SyndeoSqlTransformTest.java
  syndeo-template/src/test/resources/json_spec_payload_bad_samples.json
  syndeo-template/src/test/resources/json_spec_payload_sample.json
Labels: Google LGTM, size/XL

#586 Prevent casting to TemporalAccessor when reading datetimes from MSSQL
  v1/src/main/java/com/google/cloud/teleport/templates/common/JdbcConverters.java
  v1/src/test/java/com/google/cloud/teleport/templates/common/JdbcConvertersTest.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/utils/JdbcConverters.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/utils/JdbcConvertersTest.java
Labels: Google LGTM, size/M

#593 cleaning up Syndeo supported transforms
  syndeo-template/src/main/java/com/google/cloud/syndeo/SyndeoTemplate.java
Labels: Google LGTM, size/M

#591 Testing error handling for Syndeo and SQL transform
  syndeo-template/pom.xml
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/ProviderUtil.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/SyndeoStatsSchemaTransformProvider.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/SyndeoLoadTestUtils.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/SyndeoSqlTransformTest.java
Labels: Google LGTM, size/L

#568 Drafting load test for Pubsub to Bigquery
  .github/workflows/syndeo-pr.yml
  it/src/main/java/com/google/cloud/teleport/it/TemplateTestBase.java
  it/src/main/java/com/google/cloud/teleport/it/TestProperties.java
  it/src/main/java/com/google/cloud/teleport/it/pubsub/DefaultPubsubResourceManager.java
  syndeo-template/pom.xml
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/bigquery/BigQueryReadSchemaTransformProvider.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/pubsub/SyndeoPubsubReadSchemaTransformProvider.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/pubsub/SyndeoPubsubWriteSchemaTransformProvider.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/common/SyndeoTemplateLaunchTest.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/SyndeoLoadTestUtils.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/SyndeoPubsubLiteToBigTableLT.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/SyndeoPubsubToBigQueryLT.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/BigTableSchemaTransformTest.java
Labels: Google LGTM, size/XL

#594 Add JDBC Resource Managers
  it/pom.xml
  it/src/main/java/com/google/cloud/teleport/it/bigquery/BigQueryResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/bigquery/BigQueryResourceManagerUtils.java
  it/src/main/java/com/google/cloud/teleport/it/jdbc/AbstractJDBCResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/jdbc/DefaultMSSQLResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/jdbc/DefaultMySQLResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/jdbc/DefaultOracleResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/jdbc/DefaultPostgresResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/jdbc/JDBCDriverFactory.java
  it/src/main/java/com/google/cloud/teleport/it/jdbc/JDBCResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/jdbc/JDBCResourceManagerException.java
  it/src/main/java/com/google/cloud/teleport/it/jdbc/JDBCResourceManagerUtils.java
  it/src/main/java/com/google/cloud/teleport/it/jdbc/package-info.java
  it/src/main/java/com/google/cloud/teleport/it/mongodb/DefaultMongoDBResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/mongodb/MongoDBResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/testcontainers/TestContainerResourceManager.java
  it/src/test/java/com/google/cloud/teleport/it/jdbc/AbstractJDBCResourceManagerIT.java
  it/src/test/java/com/google/cloud/teleport/it/jdbc/AbstractJDBCResourceManagerTest.java
  it/src/test/java/com/google/cloud/teleport/it/jdbc/DefaultMSSQLResourceManagerTest.java
  it/src/test/java/com/google/cloud/teleport/it/jdbc/DefaultMySQLResourceManagerTest.java
  it/src/test/java/com/google/cloud/teleport/it/jdbc/DefaultOracleResourceManagerTest.java
  it/src/test/java/com/google/cloud/teleport/it/jdbc/DefaultPostgresResourceManagerTest.java
  it/src/test/java/com/google/cloud/teleport/it/jdbc/JDBCResourceManagerUtilsTest.java
  it/src/test/java/com/google/cloud/teleport/it/testcontainers/TestContainerResourceManagerTest.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToBigQuery.java
Labels: Google LGTM, size/XXL, integration testing, JDBC

#601 Adding test coverage to "dd" and "mm" edge cases
  v2/common/src/test/java/com/google/cloud/teleport/v2/io/WindowedFilenamePolicyTest.java
Labels: Google LGTM, size/S

#603 updating syndeo template to proper dependencies
  .github/workflows/java-pr.yml
  .github/workflows/syndeo-pr.yml
  syndeo-template/README.md
  syndeo-template/pom.xml
  syndeo-template/src/test/java/com/google/cloud/syndeo/it/KafkaToBigQueryIT.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/transforms/KafkaToBigQueryLocalTest.java
  syndeo-template/src/test/resources/json_spec_payload_bad_samples.json
  syndeo-template/src/test/resources/json_spec_payload_sample.json
  syndeo-template/src/test/resources/json_spec_payload_schema.json
Labels: Google LGTM, size/M, Kafka

#592 Sketching a column-expression-based schema transform
  syndeo-template/src/main/java/com/google/cloud/syndeo/SyndeoTemplate.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/sql/SyndeoScalarSqlTransformSchemaTransformProvider.java
  syndeo-template/src/test/resources/json_spec_payload_bad_samples.json
Labels: Google LGTM, size/L

#608 Adding pubsub based DLQ SchemaTransform implementation for Syndeo.
  syndeo-template/src/main/java/com/google/cloud/syndeo/dlq/pubsub/PubsubDlqSchemaTransformProvider.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/dlq/pubsub/PubsubDlqSchemaTransformProviderTest.java
Labels: Google LGTM, size/L

#611 [BigQueryToBigtable] Add parameters for bigtable client config
  v2/bigquery-to-bigtable/pom.xml
  v2/bigquery-to-bigtable/src/main/java/com/google/cloud/teleport/v2/templates/BigQueryToBigtable.java
Labels: Google LGTM, size/L

#612 Refactor Steady State tests to use strong assertions.
  it/src/main/java/com/google/cloud/teleport/it/DataGenerator.java
  it/src/main/java/com/google/cloud/teleport/it/LoadTestBase.java
  it/src/main/java/com/google/cloud/teleport/it/TemplateLoadTestBase.java
  it/src/main/java/com/google/cloud/teleport/it/bigquery/BigQueryResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/bigquery/DefaultBigQueryResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/conditions/BigQueryRowsCheck.java
  it/src/main/java/com/google/cloud/teleport/it/launcher/PipelineOperator.java
  it/src/main/java/com/google/cloud/teleport/it/monitoring/MonitoringClient.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/it/KafkaToBigQueryIT.java
  v1/src/test/java/com/google/cloud/teleport/bigtable/AvroToBigtableLT.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ExportPipelineLT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubsubToBigQueryLT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubsubToPubsubLT.java
  v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextLT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/pubsubtotext/PubsubToTextLT.java
  v2/streaming-data-generator/src/test/java/com/google/cloud/teleport/v2/templates/StreamingDataGeneratorLT.java
Labels: Google LGTM, size/L

#602 Syndeo file reads transform
  it/src/main/java/com/google/cloud/teleport/it/storage/DefaultGcsResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/storage/GcsResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/storage/package-info.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/files/SyndeoFilesReadSchemaTransformProvider.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/it/ReadFilesTransformIT.java
  syndeo-template/src/test/resources/avro_file_reads/table_data_1.avro
  syndeo-template/src/test/resources/avro_file_reads/table_data_2.avro
  syndeo-template/src/test/resources/avro_file_reads/table_data_3.avro
  syndeo-template/src/test/resources/avro_file_reads/table_data_4.avro
  syndeo-template/src/test/resources/avro_file_reads/table_data_5.avro
  syndeo-template/src/test/resources/bad_avro_file_reads/bad_avro_file.avro
  syndeo-template/src/test/resources/bad_avro_file_reads/bad_avro_file_2.avro
  syndeo-template/src/test/resources/bad_avro_file_reads/empty_avro_file.avro
Labels: Google LGTM, size/XL
