Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2023-01, with the labels that each got.

#545 Add SecretManagerUtils in v2 common directory
  v2/common/src/main/java/com/google/cloud/teleport/v2/utils/SecretManagerUtils.java
  v2/common/src/test/java/com/google/cloud/teleport/v2/utils/SecretManagerUtilsTest.java
Labels: Google LGTM, size/M

#544 Add Jdbc and Spanner sinks to StreamingDataGenerator template.
  it/src/main/java/com/google/cloud/teleport/it/DataGenerator.java
  it/src/main/java/com/google/cloud/teleport/it/spanner/DefaultSpannerResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/spanner/SpannerResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/spanner/SpannerResourceManagerUtils.java
  it/src/test/java/com/google/cloud/teleport/it/spanner/SpannerResourceManagerUtilsTest.java
  pom.xml
  v1/src/test/java/com/google/cloud/teleport/templates/PubsubToBigQueryPerformanceIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubsubToPubsubPerformanceIT.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/JsonStringToMutationFn.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/utils/JsonStringToQueryMapper.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/utils/SpannerUtils.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/values/SpannerSchema.java
  v2/common/src/test/java/com/google/cloud/teleport/v2/transforms/JsonStringToMutationFnTest.java
  v2/common/src/test/java/com/google/cloud/teleport/v2/utils/JsonStringToQueryMapperTest.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/PubsubToJdbc.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/pubsubtotext/PubsubToTextPerformanceIT.java
  v2/streaming-data-generator/src/main/java/com/google/cloud/teleport/v2/templates/StreamingDataGenerator.java
  v2/streaming-data-generator/src/main/java/com/google/cloud/teleport/v2/transforms/StreamingDataGeneratorWriteToBigQuery.java
  v2/streaming-data-generator/src/main/java/com/google/cloud/teleport/v2/transforms/StreamingDataGeneratorWriteToGcs.java
  v2/streaming-data-generator/src/main/java/com/google/cloud/teleport/v2/transforms/StreamingDataGeneratorWriteToJdbc.java
  v2/streaming-data-generator/src/main/java/com/google/cloud/teleport/v2/transforms/StreamingDataGeneratorWriteToPubSub.java
  v2/streaming-data-generator/src/main/java/com/google/cloud/teleport/v2/transforms/StreamingDataGeneratorWriteToSpanner.java
  v2/streaming-data-generator/src/test/java/com/google/cloud/teleport/v2/templates/StreamingDataGeneratorIT.java
  v2/streaming-data-generator/src/test/java/com/google/cloud/teleport/v2/templates/StreamingDataGeneratorPerformanceIT.java
  v2/streaming-data-generator/src/test/java/com/google/cloud/teleport/v2/templates/StreamingDataGeneratorTest.java
Labels: Google LGTM, size/XXL

#557 Fix test hang in StreamingDataGeneratorIT
  cicd/cmd/run-it-tests/main.go
  cicd/internal/flags/it-flags.go
  cicd/internal/workflows/maven-workflows.go
  v2/streaming-data-generator/src/test/java/com/google/cloud/teleport/v2/templates/StreamingDataGeneratorIT.java
Labels: Google LGTM, size/S

#559 Addressing NPE on bad Json config
  syndeo-template/pom.xml
  syndeo-template/src/main/java/com/google/cloud/syndeo/SyndeoTemplate.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/common/SyndeoTemplateLaunchTest.java
Labels: Google LGTM, size/S

#543 Generate transform configs
  syndeo-template/README.md
  syndeo-template/src/main/java/com/google/cloud/syndeo/GenerateConfiguration.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/SyndeoTemplate.java
  syndeo-template/src/main/proto/transforms_api.proto
Labels: Google LGTM, size/XL

#560 Improving documentation for devs in Syndeo template
  syndeo-template/README.md
  syndeo-template/TESTING.md
Labels: Google LGTM, size/L

#561 Fix intermittent test failures in TextToPubsubIT
  cicd/internal/repo/files_test.go
  cicd/internal/repo/modules.go
  cicd/internal/repo/modules_test.go
  cicd/internal/workflows/maven-workflows.go
  it/src/main/java/com/google/cloud/teleport/it/dataflow/DataflowOperator.java
  v1/src/test/java/com/google/cloud/teleport/templates/TextToPubsubIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/TextToBigQueryStreamingIT.java
Labels: Google LGTM, size/M

#564 update spotless check gitaction
  cicd/cmd/run-spotless/main.go
  cicd/internal/workflows/maven-workflows.go
Labels: Google LGTM, size/M
