Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2023-04, with the labels that each got.

#649 Update bug-template.yml
  .github/ISSUE_TEMPLATE/bug-template.yml
Labels: Google LGTM, size/S

#645 Add new parameters to GCS-to-Splunk readmes
  v2/googlecloud-to-splunk/README_GCS_To_Splunk.md
  v2/googlecloud-to-splunk/docs/GCSToSplunk/README.md
  v2/googlecloud-to-splunk/docs/GCSToSplunk/gcs-to-splunk-image-spec.json
Labels: Google LGTM, size/L

#652 Fix GitHub actions to build the right modules.
  cicd/internal/workflows/maven-workflows.go
Labels: Google LGTM, size/XS

#648 Remove duplicate GCP IO artifacts
  syndeo-template/pom.xml
Labels: Google LGTM, size/S

#638 Added dlq to pubsub read and write schema transform
  syndeo-template/src/main/java/com/google/cloud/syndeo/SyndeoTemplate.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/ProviderUtil.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/dlq/pubsub/PubsubDlqSchemaTransformProvider.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/pubsub/SyndeoPubsubReadSchemaTransformProvider.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/pubsub/SyndeoPubsubWriteSchemaTransformProvider.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/it/PubsubDlqIT.java
Labels: Google LGTM, size/L

#616 :adhesive_bandage: add quotes around PK partitionning in BigQuery
  v2/common/src/main/java/com/google/cloud/teleport/v2/cdc/merge/MergeStatementBuilder.java
  v2/common/src/test/java/com/google/cloud/teleport/v2/cdc/merge/MergeInfoTest.java
Labels: Google LGTM, size/XS

#656 Update vendored gRPC version references, following Beam's recent snapshot
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/SyndeoApiProtoTranslation.java
Labels: Google LGTM, size/XS, syndeo

#661 [JdbcToPubsubIT] Create integration test
  it/google-cloud-platform/src/main/java/com/google/cloud/teleport/it/gcp/artifacts/utils/JsonTestUtil.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/JdbcToBigQueryIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/JdbcToPubsubIT.java
Labels: size/L
