Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2023-03, with the labels that each got.

#599 [Integration Tests] Add parallelism parameters to allow parallel integration test execution
  cicd/cmd/run-it-tests/main.go
  cicd/internal/workflows/maven-workflows.go
  pom.xml
Labels: Google LGTM, size/S

#615 :construction_worker: add a new parameter form template deployment mojo
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
Labels: Google LGTM, size/S

#548 feat(elasticsearch-writer): Make trustSelfSignedCerts as parameter
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/options/ElasticsearchWriteOptions.java
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/transforms/WriteToElasticsearch.java
Labels: Google LGTM, size/S, Elasticsearch

#588 Issue 582 - MongoDBtoBigQuery with UDF: ScriptObjectMirror cannot be cast to bson.Document
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/JavascriptDocumentTransformer.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbUtils.java
  v2/mongodb-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQueryIT.java
Labels: Google LGTM, size/M, integration testing, MongoDB

#624 Fixing load tests with outdated pslite API
  syndeo-template/pom.xml
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/SyndeoPubsubLiteToBigTableLT.java
Labels: Google LGTM, size/S

#613 Documenting fields for Pubsub schema transform in Syndeo
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/pubsub/SyndeoPubsubReadSchemaTransformProvider.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/pubsub/SyndeoPubsubWriteSchemaTransformProvider.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/SyndeoPubsubToBigQueryLT.java
Labels: Google LGTM, size/M

#622 Adding support for JSON-encoded proto schema definitions when reading…
  syndeo-template/pom.xml
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/ProtoSchemaUtils.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/ProviderUtil.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/common/SyndeoApiProtoTranslation.java
  syndeo-template/src/main/java/com/google/cloud/syndeo/transforms/pubsub/SyndeoPubsubUtils.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/common/ProtoSchemaUtilsTest.java
  syndeo-template/src/test/resources/json_spec_payload_sample.json
  syndeo-template/src/test/resources/proto_schemas/more_complex_proto3_schema.proto
  syndeo-template/src/test/resources/proto_schemas/simple_proto3_schema.proto
Labels: Google LGTM, size/L

#621 Fix comparing row key name
  v2/googlecloud-to-mongodb/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/BigQueryToMongoDb.java
Labels: Google LGTM, size/XS

#623 Refactor bigquery to bigtable template to be more extensible
  it/src/main/java/com/google/cloud/teleport/it/TemplateTestBase.java
  it/src/main/java/com/google/cloud/teleport/it/matchers/RecordsSubject.java
  it/src/main/java/com/google/cloud/teleport/it/matchers/TemplateAsserts.java
  v1/src/main/java/com/google/cloud/teleport/bigtable/CassandraToBigtable.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubSubscriptionToBigQueryIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubToBigQueryIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubTopicToBigQueryIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/TextIOToBigQueryIT.java
  v2/bigquery-to-bigtable/pom.xml
  v2/bigquery-to-bigtable/src/main/java/com/google/cloud/teleport/v2/templates/BigQueryToBigtable.java
  v2/bigquery-to-bigtable/src/test/java/com/google/cloud/teleport/v2/templates/BigQueryToBigtableIT.java
  v2/bigquery-to-parquet/src/test/java/com/google/cloud/teleport/v2/templates/BigQueryToParquetIT.java
  v2/bigtable-common/pom.xml
  v2/bigtable-common/src/main/java/com/google/cloud/teleport/v2/bigtable/options/BigtableCommonOptions.java
  v2/bigtable-common/src/main/java/com/google/cloud/teleport/v2/bigtable/options/package-info.java
  v2/bigtable-common/src/main/java/com/google/cloud/teleport/v2/bigtable/transforms/BigtableConverters.java
  v2/bigtable-common/src/main/java/com/google/cloud/teleport/v2/bigtable/transforms/package-info.java
  v2/bigtable-common/src/main/java/com/google/cloud/teleport/v2/bigtable/utils/BigtableConfig.java
  v2/bigtable-common/src/main/java/com/google/cloud/teleport/v2/bigtable/utils/package-info.java
  v2/bigtable-common/src/test/java/com/google/cloud/teleport/v2/bigtable/transforms/BigtableConvertersTest.java
  v2/common/pom.xml
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/BigQueryConverters.java
  v2/common/src/test/java/com/google/cloud/teleport/v2/transforms/BigQueryConvertersTest.java
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/templates/BigQueryToElasticsearch.java
  v2/googlecloud-to-elasticsearch/src/test/java/com/google/cloud/teleport/v2/elasticsearch/templates/BigQueryToElasticsearchIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/PubSubToBigQueryIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/TextIOToBigQueryIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/TextToBigQueryStreamingIT.java
  v2/kafka-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryIT.java
  v2/mongodb-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQueryIT.java
  v2/pom.xml
  v2/pubsub-binary-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/PubsubAvroToBigQueryIT.java
  v2/streaming-data-generator/src/test/java/com/google/cloud/teleport/v2/templates/StreamingDataGeneratorIT.java
Labels: Google LGTM, size/XXL

#625 Fix bigtable IT module dependencies
  cicd/internal/workflows/maven-workflows.go
  it/src/main/java/com/google/cloud/teleport/it/TemplateTestBase.java
Labels: Google LGTM, size/S

#573 Updating README.md for clarity
  syndeo-template/README.md
Labels: Google LGTM, size/S

#627 Run Syndeo and java workflows twice per day
  .github/workflows/java-pr.yml
  .github/workflows/syndeo-pr.yml
Labels: Google LGTM, size/XS

#631 Improving artifacts being imported from syndeo pom file.
  .github/workflows/java-pr.yml
  syndeo-template/pom.xml
Labels: Google LGTM, size/S

#636 [Load tests] Add support for launching pipelines using Pipeline#run
  it/pom.xml
  it/src/main/java/com/google/cloud/teleport/it/IOLoadTestBase.java
  it/src/main/java/com/google/cloud/teleport/it/LoadTestBase.java
  it/src/main/java/com/google/cloud/teleport/it/launcher/AbstractPipelineLauncher.java
  it/src/main/java/com/google/cloud/teleport/it/launcher/DefaultPipelineLauncher.java
  it/src/main/java/com/google/cloud/teleport/it/launcher/PipelineLauncher.java
  it/src/test/java/com/google/cloud/teleport/it/WordCountIT.java
  it/src/test/java/com/google/cloud/teleport/it/bigquery/BigQueryIOLT.java
  pom.xml
  v1/src/test/java/com/google/cloud/teleport/bigtable/AvroToBigtableLT.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ExportPipelineLT.java
  v1/src/test/java/com/google/cloud/teleport/templates/BulkCompressorLT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubsubToBigQueryLT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubsubToPubsubLT.java
  v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextLT.java
  v1/src/test/resources/AvroToBigtableLT/schema.json
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/JdbcToBigQueryIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/TextIOtoBigQueryLT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/pubsubtotext/PubsubToTextLT.java
  v2/streaming-data-generator/src/main/java/com/google/cloud/teleport/v2/templates/StreamingDataGenerator.java
  v2/streaming-data-generator/src/test/java/com/google/cloud/teleport/v2/templates/StreamingDataGeneratorIT.java
  v2/streaming-data-generator/src/test/java/com/google/cloud/teleport/v2/templates/StreamingDataGeneratorLT.java
Labels: Google LGTM, size/XL

#607 Any to any framework for Syndeo Template
  .github/workflows/syndeo-pr.yml
  it/src/main/java/com/google/cloud/teleport/it/PipelineUtils.java
  it/src/main/java/com/google/cloud/teleport/it/pubsub/DefaultPubsubResourceManager.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/it/ReadFilesTransformIT.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/AnyToAnySyndeoTestLT.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/SyndeoLoadTestUtils.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/SyndeoPubsubToBigQueryLT.java
  syndeo-template/src/test/java/com/google/cloud/syndeo/perf/SyndeoTestingPairsIT.java
  syndeo-template/src/test/resources/logback-test.xml
  syndeo-template/src/test/resources/simplelogger.properties
Labels: Google LGTM, size/XL

#644 Add PAT for release workflow.
  .github/workflows/release.yml
Labels: Google LGTM, size/XS

#643 Add support for remaining Splunk Write options for GCS-to-Splunk template
  v2/googlecloud-to-splunk/src/main/java/com/google/cloud/teleport/v2/templates/GCSToSplunk.java
  v2/googlecloud-to-splunk/src/main/java/com/google/cloud/teleport/v2/transforms/SplunkConverters.java
  v2/googlecloud-to-splunk/src/main/java/com/google/cloud/teleport/v2/values/SplunkTokenSource.java
  v2/googlecloud-to-splunk/src/main/java/com/google/cloud/teleport/v2/values/package-info.java
Labels: Google LGTM, size/L

#635 Add JDBC to BigQuery IT's
  it/pom.xml
  it/src/main/java/com/google/cloud/teleport/it/common/BigQueryTestUtil.java
  it/src/main/java/com/google/cloud/teleport/it/common/JDBCBaseIT.java
  it/src/main/java/com/google/cloud/teleport/it/jdbc/AbstractJDBCResourceManager.java
  it/src/main/java/com/google/cloud/teleport/it/jdbc/JDBCResourceManager.java
  it/src/test/java/com/google/cloud/teleport/it/jdbc/AbstractJDBCResourceManagerIT.java
  it/src/test/java/com/google/cloud/teleport/it/jdbc/AbstractJDBCResourceManagerTest.java
  pom.xml
  v1/src/test/java/com/google/cloud/teleport/templates/BigQueryToDatastoreIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/JdbcToBigQueryIT.java
  v2/bigquery-to-bigtable/src/test/java/com/google/cloud/teleport/v2/templates/BigQueryToBigtableIT.java
  v2/bigquery-to-parquet/src/test/java/com/google/cloud/teleport/v2/templates/BigQueryToParquetIT.java
  v2/googlecloud-to-elasticsearch/src/test/java/com/google/cloud/teleport/v2/elasticsearch/templates/BigQueryToElasticsearchIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/JdbcToBigQueryIT.java
  v2/mongodb-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQueryIT.java
Labels: Google LGTM, size/XL

#647 Fix SslConsumerFactory to localize SSL files once per worker.
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/utils/SslConsumerFactoryFn.java
  v2/kafka-to-pubsub/src/main/java/com/google/cloud/teleport/v2/kafka/consumer/SslConsumerFactoryFn.java
Labels: Google LGTM, size/M
