Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2024-03, with the labels that each got.

#1349 fixes for blob support,ignoring extra tables and perf improvement
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/GCSToSourceDb.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/dao/SpannerDao.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/transforms/GcsToSourceStreamer.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/GCSReader.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ProcessingContextGenerator.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ShardFileCreationTracker.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ShardProgressTracker.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/SkippedFileTracker.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/SpannerToGcsJobMetadataFetcher.java
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/SpannerChangeStreamsToShardedFileSink.java
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/transforms/AssignShardIdFn.java
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/transforms/ChangeDataProgressTrackerFn.java
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/transforms/FileProgressTrackerFn.java
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/utils/DataSeenTracker.java
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/utils/FileCreationTracker.java
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/utils/ShardIdFetcherImpl.java
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/utils/SpannerDao.java
Labels: Google LGTM, size/XL

#1353 Enable support for ALO in streaming templates
  v1/src/main/java/com/google/cloud/teleport/templates/PubSubToBigQuery.java
  v1/src/main/java/com/google/cloud/teleport/templates/PubSubToDatadog.java
  v1/src/main/java/com/google/cloud/teleport/templates/PubsubToAvro.java
  v1/src/main/java/com/google/cloud/teleport/templates/TextToBigQueryStreaming.java
  v2/bigtable-changestreams-to-hbase/src/main/java/com/google/cloud/teleport/v2/templates/BigtableChangeStreamsToHBase.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
  v2/datastream-to-sql/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSQL.java
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/templates/PubSubToElasticsearch.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/PubsubToAvro.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/PubsubToJdbc.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/SpannerChangeStreamsToGcs.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/SpannerChangeStreamsToPubSub.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextToBigQueryStreaming.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/bigtablechangestreamstogcs/BigtableChangeStreamsToGcs.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/bigtablechangestreamstopubsub/BigtableChangeStreamsToPubSub.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/pubsubtotext/PubsubToText.java
  v2/jms-to-pubsub/src/main/java/com/google/cloud/teleport/v2/templates/JmsToPubsub.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQueryCdc.java
  v2/mqtt-to-pubsub/src/main/java/com/google/cloud/teleport/v2/templates/MqttToPubsub.java
  v2/pubsub-binary-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/PubsubAvroToBigQuery.java
  v2/pubsub-binary-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/PubsubProtoToBigQuery.java
  v2/pubsub-to-mongodb/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToMongoDB.java
  v2/pubsub-to-redis/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToRedis.java
  v2/streaming-data-generator/src/main/java/com/google/cloud/teleport/v2/templates/StreamingDataGenerator.java
Labels: size/L

#1352 Improve error messaging when processsing modJson
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/spannerchangestreamstobigquery/FailsafeModJsonToTableRowTransformer.java
Labels: Google LGTM, size/M

#1356 Add method to enable ALO mode by default
  v2/common/src/main/java/com/google/cloud/teleport/v2/utils/StreamingModeUtils.java
Labels: size/S

#1342 Add YAML template module
  metadata/src/main/java/com/google/cloud/teleport/metadata/Template.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/YamlDockerfileGenerator.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/TemplateDefinitions.java
  plugins/core-plugin/src/main/resources/Dockerfile-template-yaml
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
  pom.xml
  yaml/JAVA_LICENSE_HEADER
  yaml/pom.xml
  yaml/src/main/java/com/google/cloud/teleport/templates/yaml/KafkaToBigQueryYaml.java
  yaml/src/main/java/com/google/cloud/teleport/templates/yaml/package-info.java
  yaml/src/main/python/main.py
  yaml/src/main/python/requirements.txt
  yaml/src/main/yaml/KafkaToBigQuery.yaml
  yaml/src/test/java/com/google/cloud/teleport/templates/yaml/KafkaToBigQueryYamlIT.java
  yaml/src/test/java/com/google/cloud/teleport/templates/yaml/package-info.java
Labels: size/XL

#1346 Fix parallelism: add missing groupby, move batching out of Neo4j writer
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/transforms/Neo4jBlockingUnwindFn.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/transforms/Neo4jRowWriterTransform.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/transforms/Partitioner.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/transforms/SplitIntoBatches.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/transforms/Neo4jBlockingUnwindFnTest.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/transforms/PartitionerTest.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/transforms/SplitIntoBatchesTest.java
Labels: Google LGTM, size/L

#1357 Improvement in replication lag by reducing wait time
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/GCSToSourceDb.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/transforms/GcsToSourceStreamer.java
Labels: Google LGTM, size/S

#1360 [PubSubToSplunk Template]: Improve error logging.
  v1/src/main/java/com/google/cloud/teleport/splunk/SplunkEventWriter.java
Labels: Google LGTM, size/XS

#1322 DatastreamToSpanner integration test - Interleaved table, FKs and Indexes
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerITBase.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerSimpleIT.java
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSimpleIT/mysql-Articles.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSimpleIT/mysql-Authors.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSimpleIT/mysql-Books.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSimpleIT/mysql-schema.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSimpleIT/mysql-session.json
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSimpleIT/spanner-schema.sql
Labels: Google LGTM, size/XXL

#1350 Making datasource provider singleton
  v2/sourcedb-to-spanner/README_Sourcedb_to_Spanner.md
  v2/sourcedb-to-spanner/pom.xml
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/options/SourceDbToSpannerOptions.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/DataSourceProvider.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/SourceDbToSpanner.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/DataSourceProviderTest.java
Labels: Google LGTM, size/L

#1355 [Neo4j] Allow user to specify only a sub-set of columns.
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/providers/text/LineToRowFn.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/providers/text/LineToRowFnTest.java
Labels: Google LGTM, size/S

#1354 Fix logging level from error to info in spanner type into avro type method
  v1/src/main/java/com/google/cloud/teleport/spanner/DdlToAvroSchemaConverter.java
Labels: Google LGTM, size/XS

#1370 Add condition to isAtLeastOnceEnabled
  v2/common/src/main/java/com/google/cloud/teleport/v2/utils/StreamingModeUtils.java
Labels: size/XS

#1372 Adding codeowners for Spanner related templates
  .github/CODEOWNERS
Labels: Google LGTM, size/S

#1369 Escape fields in generated sql
  v2/googlecloud-to-neo4j/pom.xml
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/database/Neo4jConnection.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/helpers/TargetMapper.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/job/JobSpec.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/job/Target.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/utils/ModelUtils.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/database/Neo4jConnectionTest.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/model/InputRefactoringTest.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/templates/EscapingIT.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/utils/DataCastingUtilsTest.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/utils/ModelUtilsTest.java
  v2/googlecloud-to-neo4j/src/test/resources/testing-specs/escaping/bq-spec.json
  v2/googlecloud-to-neo4j/src/test/resources/testing-specs/escaping/external.csv
  v2/googlecloud-to-neo4j/src/test/resources/testing-specs/escaping/externalcsv-spec.json
  v2/googlecloud-to-neo4j/src/test/resources/testing-specs/escaping/inlinecsv-spec.json
Labels: Google LGTM, size/XXL

#1380 Ordered changestream buffer to sourcedb postgresql
  v2/ordered-changestream-buffer-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/processing/dml/MySqlDMLGeneratorTest.java
  v2/ordered-changestream-buffer-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/processing/dml/PostgreSQLDMLGeneratorTest.java
Labels: Google LGTM, size/M

#1383 Fix a bug in Stream_GCS_Text_to_BigQuery classic template
  v1/src/main/java/com/google/cloud/teleport/templates/TextToBigQueryStreaming.java
Labels: size/XS

#1331 Python UDF Support To Templates
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/TemplateTestBase.java
  metadata/src/main/java/com/google/cloud/teleport/metadata/Template.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/PythonDockerfileGenerator.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/TemplateSpecsGenerator.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/TemplateDefinitions.java
  plugins/core-plugin/src/main/resources/Dockerfile-xlang-template
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
  v2/common/pom.xml
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/PythonExternalTextTransformer.java
  v2/googlecloud-to-googlecloud/pom.xml
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/FirestoreToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextIOToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/resources/requirements.txt
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/PubSubToBigQueryIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/TextIOToBigQueryIT.java
  v2/googlecloud-to-googlecloud/src/test/resources/TextIOToBigQueryTest/pyudf.py
  v2/pubsub-binary-to-bigquery/src/main/resources/requirements.txt
Labels: size/XXL

#1385 support vector_length column annotation in DataFlow Import/Export
  v1/src/main/java/com/google/cloud/teleport/spanner/common/SizedType.java
  v1/src/main/java/com/google/cloud/teleport/spanner/ddl/Column.java
  v1/src/test/java/com/google/cloud/teleport/spanner/common/SizedTypeTest.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ddl/DdlTest.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScannerIT.java
Labels: size/L

#1390 Add Release to java-pr-report
  .github/workflows/java-pr-report.yml
Labels: size/XS

#1381 load test fixes
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/dao/MySqlDao.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/processing/dml/DMLGenerator.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/processing/handler/GCSToSourceStreamingHandler.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/GCSReader.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ShardFileCreationTracker.java
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/processing/dml/DMLGeneratorTest.java
  v2/gcs-to-sourcedb/src/test/resources/MultiColmPKSession.json
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/transforms/AssignShardIdFn.java
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/utils/DataSeenTracker.java
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/utils/ShardingLogicImplFetcher.java
  v2/spanner-change-streams-to-sharded-file-sink/src/test/java/com/google/cloud/teleport/v2/templates/transforms/AssignShardIdFnTest.java
Labels: Google LGTM, size/XL

#1371 Refactor code to be used by bulk template into common packages
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/SpannerTransactionWriterDoFn.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/datastream/ChangeEventContext.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/datastream/ChangeEventContextFactory.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/datastream/ChangeEventConvertor.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/datastream/ChangeEventSequenceFactory.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/datastream/MySqlChangeEventContext.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/datastream/MySqlChangeEventSequence.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/datastream/OracleChangeEventContext.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/datastream/OracleChangeEventSequence.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/datastream/PostgresChangeEventContext.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/datastream/PostgresChangeEventSequence.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/datastream/ChangeEventConvertorTest.java
  v2/spanner-common/pom.xml
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/constants/Constants.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/constants/package-info.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSessionConvertor.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSpannerConvertor.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventTypeConvertor.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/package-info.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/exceptions/ChangeEventConvertorException.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/exceptions/DroppedTableException.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/exceptions/package-info.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/Schema.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSessionConvertorTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSpannerConvertorTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventTypeConvertorTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SchemaTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/package-info.java
Labels: Google LGTM, size/XXL

#1374 Adding Codecov tool integration
  .github/CODEOWNERS
  .github/codecov.yml
  .github/workflows/java-pr.yml
  pom.xml
Labels: Google LGTM, size/L

#1396 use more efficient transaction mode
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/dao/SpannerDao.java
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/utils/SpannerDao.java
Labels: Google LGTM, size/L

#1394 Extend Python UDF support to GCS flex templates and clean up code reuse.
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/PythonExternalTextTransformer.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/FirestoreToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextIOToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextToBigQueryStreaming.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/TextToBigQueryStreamingIT.java
  v2/googlecloud-to-googlecloud/src/test/resources/TextToBigQueryStreamingIT/pyudf.py
  v2/pubsub-binary-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/PubsubProtoToBigQuery.java
  v2/pubsub-binary-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/PubsubProtoToBigQueryIT.java
Labels: size/XL

#1395 Rollback YamlTemplate Beam version to 2.54
  pom.xml
  python/src/main/python/yaml-template/requirements.txt
Labels: Google LGTM, size/XS

#1398 Change logic to not fail if no UDF is provided.
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/FirestoreToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextIOToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextToBigQueryStreaming.java
  v2/pubsub-binary-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/PubsubProtoToBigQuery.java
Labels: size/S

#1399 Return a bit more accurate count for DataGenerator Template
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/datagenerator/DataGenerator.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubsubToPubsubLT.java
Labels: size/XS

#1392 Apache BEAM SDK updates to handle vector length column annotation
  v1/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchema.java
  v1/src/test/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchemaTest.java
Labels: Google LGTM, size/L

#1401 Use neo4j version and edition for reset and schema generation
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/database/CypherGenerator.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/database/Neo4jCapabilities.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/database/Neo4jConnection.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/transforms/Neo4jRowWriterTransform.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/database/CypherGeneratorTest.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/database/Neo4jConnectionTest.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/templates/ConstraintsIndicesIT.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/transforms/Neo4jRowWriterTransformTest.java
  v2/googlecloud-to-neo4j/src/test/resources/testing-specs/constraints-indices/reset-database.json
Labels: Google LGTM, size/XXL
