Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2024-05, with the labels that each got.

#1488 Jdbc table schema discovery :: Package cleaup
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/exception/RetriableSchemaDiscoveryException.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/exception/SchemaDiscoveryException.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/exception/SchemaDiscoveryRetriesExhaustedException.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/exception/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/DialectAdapter.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/mysql/MysqlDialectAdapter.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/mysql/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/RetriableSchemaDiscovery.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/SchemaDiscovery.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/SchemaDiscoveryImpl.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/mysql/MysqlDialectAdapterTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/SchemaDiscoveryImplTest.java
Labels: Google LGTM, size/M

#1496 Fix datetime validation
  metadata/src/main/java/com/google/cloud/teleport/metadata/util/MetadataUtils.java
Labels: Google LGTM, size/XS

#1486 Adding confluent sources for new Kafka Templates
  cicd/internal/workflows/maven-workflows.go
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/TemplateTestBase.java
Labels: size/XS

#1483 Add Kafka to Kafka Template
  v2/kafka-to-kafka/pom.xml
  v2/kafka-to-kafka/src/main/java/com/google/cloud/teleport/v2/options/KafkaToKafkaOptions.java
  v2/kafka-to-kafka/src/main/java/com/google/cloud/teleport/v2/options/package-info.java
  v2/kafka-to-kafka/src/main/java/com/google/cloud/teleport/v2/templates/ConsumerProperties.java
  v2/kafka-to-kafka/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToKafka.java
  v2/kafka-to-kafka/src/main/java/com/google/cloud/teleport/v2/templates/ProducerProperties.java
  v2/kafka-to-kafka/src/main/java/com/google/cloud/teleport/v2/templates/package-info.java
  v2/kafka-to-kafka/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToKafkaIT.java
  v2/pom.xml
Labels: Google LGTM, size/XL

#1448 Kafka to GCS template v2
  v2/common/src/main/java/com/google/cloud/teleport/v2/coders/GenericRecordCoder.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToGcs2.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/transforms/AvroDestination.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/transforms/AvroWriteTransform.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/transforms/JsonWriteTransform.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/transforms/WriteTransform.java
Labels: size/XL

#1464 Add Kafka To BigQuery Template
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/options/KafkaReadOptions.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/KafkaTransform.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/NonWireAvroDeserializer.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/options/KafkaToBigQueryFlexOptions.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/options/package-info.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/AvroDynamicTransform.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/AvroTransform.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/BigQueryDynamicDestination.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/StringMessageToTableRow.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/package-info.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/utils/BigQueryAvroUtils.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/utils/package-info.java
Labels: size/XXL

#1482 Modified parameters descriptions as per public doc
  v1/src/main/java/com/google/cloud/teleport/bigtable/AvroToBigtable.java
  v1/src/main/java/com/google/cloud/teleport/spanner/TextImportPipeline.java
  v1/src/main/java/com/google/cloud/teleport/templates/BigQueryToTFRecord.java
  v1/src/main/java/com/google/cloud/teleport/templates/ExportJobPlaceholder.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/BigQueryConverters.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/DatastoreConverters.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/JavascriptTextTransformer.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/TextConverters.java
  v2/bigtable-common/src/main/java/com/google/cloud/teleport/v2/bigtable/options/BigtableCommonOptions.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/options/BigQueryStorageApiStreamingOptions.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/options/CommonTemplateOptions.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/options/WindowedFilenamePolicyOptions.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/JavascriptTextTransformer.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/BigtableChangeStreamToBigQueryOptions.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/PubsubToJdbcOptions.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/pubsubtotext/PubsubToText.java
  v2/jdbc-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/JdbcToBigQueryOptions.java
Labels: Google LGTM, size/L

#1506 Provide empty string default values for kafka username and password
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToGcs2.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/transforms/AvroWriteTransform.java
Labels: Google LGTM, size/S

#1507 Allow connecting without ssl & cleanup
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/BinaryAvroDeserializer.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/BinaryAvroSerializer.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/AvroTransform.java
Labels: size/M

#1508 JDBC Value mapping
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/exception/ValueMappingException.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/mysql/MysqlDialectAdapter.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/JdbcSourceRowMapper.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/JdbcValueMapper.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/JdbcValueMappingsProvider.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/ResultSetValueExtractor.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/ResultSetValueMapper.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/provider/MysqlJdbcValueMappings.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/provider/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/MysqlMappingProvider.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/DataSourceProviderTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/JdbcSourceRowMapperTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/MysqlMappingProviderTest.java
Labels: Google LGTM, size/XXL

#1501 chore: fix typos
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/DLPTextToBigQueryStreaming.java
Labels: Google LGTM, size/XS

#1505 Add custom App Profile support for Bigtable to Vector Embedding export
  v1/README_Cloud_Bigtable_to_Vector_Embeddings.md
  v1/src/main/java/com/google/cloud/teleport/bigtable/BigtableToVectorEmbeddings.java
  v1/src/test/java/com/google/cloud/teleport/templates/BigtableToVectorEmbeddingsIT.java
Labels: Google LGTM, size/S

#1504 Upgrade beam version to 2.56.0
  pom.xml
  v2/dataplex/src/test/java/com/google/cloud/teleport/v2/templates/DataplexBigQueryToGcsTest.java
  v2/googlecloud-to-elasticsearch/src/main/resources/requirements.txt
  v2/googlecloud-to-googlecloud/src/main/resources/requirements.txt
  v2/pubsub-binary-to-bigquery/src/main/resources/requirements.txt
Labels: Google LGTM, size/S

#1512 Parse secret name and password only when using Auth
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToGcs2.java
Labels: size/XS

#1499 Xlang Dockerfile speed improvements
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/PythonDockerfileGenerator.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/XlangDockerfileGenerator.java
  plugins/core-plugin/src/main/resources/Dockerfile-template-xlang
  plugins/core-plugin/src/main/resources/Dockerfile-xlang-template
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/XlangDockerfileGeneratorTest.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
  v2/googlecloud-to-elasticsearch/src/main/resources/requirements.txt
  v2/googlecloud-to-googlecloud/src/main/resources/requirements.txt
  v2/pubsub-binary-to-bigquery/src/main/resources/requirements.txt
Labels: Google LGTM, size/L

#1520 various gitactions dependency updates
  .github/actions/setup-env/action.yml
  .github/actions/setup-java-env/action.yml
  .github/workflows/go-pr.yml
  .github/workflows/prepare-java-cache.yml
  .github/workflows/scorecards-analysis.yml
Labels: Google LGTM, size/S

#1519 gitaction runner script enhancements
  .github/scripts/configure-runners.sh
  .github/scripts/startup-script.sh
  contributor-docs/maintainers-guide.md
Labels: Google LGTM, size/L

#1494 Splunk python udfs
  v2/googlecloud-to-splunk/src/main/java/com/google/cloud/teleport/v2/templates/GCSToSplunk.java
  v2/pubsub-to-mongodb/src/main/resources/requirements.txt
Labels: Google LGTM, size/L

#1527 Add OutputFileNamePrefix to the AvroWriteTransform filenaming
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/transforms/AvroWriteTransform.java
Labels: Google LGTM, size/XS

#1511 Add support for binary AVRO messages in non confluent wire format
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/BinaryAvroDeserializer.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/BinaryAvroSerializer.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/AvroTransform.java
Labels: size/M

#1530 Provision separate worker for release
  .github/workflows/release.yml
Labels: Google LGTM, size/XS

#1526 Add concurrency group to java-pr workflow
  .github/workflows/java-pr.yml
Labels: Google LGTM, size/XS

#1498 Add random suffix to resource IDs to avoid collision
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/bigquery/BigQueryResourceManagerUtils.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/bigtable/BigtableResourceManagerUtils.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/datastream/DatastreamResourceManagerUtils.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/spanner/utils/SpannerResourceManagerUtils.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigquery/BigQueryResourceManagerTest.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigtable/BigtableResourceManagerTest.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/bigtable/BigtableResourceManagerUtilsTest.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/spanner/SpannerResourceManagerTest.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/spanner/utils/SpannerResourceManagerUtilsTest.java
Labels: Google LGTM, size/L

#1516 Added unit tests to datastream-to-spanner and excluded exception classes
  pom.xml
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/datastream/ChangeEventContextFactory.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/spanner/ProcessInformationSchema.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerTest.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/datastream/ChangeEventContextFactoryTest.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/spanner/ProcessInformationSchemaTest.java
Labels: Google LGTM, size/L

#1525 Switch DatastreamToSpannerDataTypeIT from JSON to Avro
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerDatatypeIT.java
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/AllDatatypeColumns-statements.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/AllDatatypeColumns2-statements.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-backfill-AllDatatypeColumns.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-backfill-AllDatatypeColumns.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-backfill-AllDatatypeColumns2.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-backfill-AllDatatypeColumns2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-cdc-AllDatatypeColumns.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-cdc-AllDatatypeColumns2.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-cdc-AllDatatypeColumns2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-cdc1-AllDatatypeColumns.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-cdc2-AllDatatypeColumns.avro
Labels: Google LGTM, size/L

#1517 Add IT for sharded migration without migration_shard_id
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT.java
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Movie-shard1.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Movie-shard2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-backfill-logical-shard1.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-backfill-logical-shard2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-backfill-logical-shard3.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-backfill-logical-shard4.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-cdc-shard1.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-cdc-shard2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/mysql-schema.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/mysql-session.json
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/spanner-schema.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/transformation-context-shard1.json
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/transformation-context-shard2.json
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-backfill-logical-shard1.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-backfill-logical-shard2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-backfill-logical-shard3.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-backfill-logical-shard4.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-cdc-shard1.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-cdc-shard2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/mysql-schema.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/spanner-schema.sql
Labels: Google LGTM, size/L

#1536 Add integration test for KafkaToGcs Template
  v2/kafka-to-gcs/pom.xml
  v2/kafka-to-gcs/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToGcsIT.java
  v2/kafka-to-gcs/src/test/resources/KafkaToGcsIT/avro_schema.avsc
Labels: size/L

#1456 Add parentName and parentTriggerValues attributes for templates
  v1/src/main/java/com/google/cloud/teleport/bigtable/BigtableToJson.java
  v1/src/main/java/com/google/cloud/teleport/spanner/ExportPipeline.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/options/BigQueryStorageApiStreamingOptions.java
  v2/datastream-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToBigQuery.java
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/options/ElasticsearchWriteOptions.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/BigtableChangeStreamsToGcsOptions.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/BigtableChangeStreamsToPubSubOptions.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextToBigQueryStreaming.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQuery.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQueryCdc.java
  v2/pubsub-binary-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/PubsubAvroToBigQuery.java
  v2/pubsub-binary-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/PubsubProtoToBigQuery.java
  v2/pubsub-to-redis/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToRedis.java
  v2/streaming-data-generator/src/main/java/com/google/cloud/teleport/v2/templates/StreamingDataGenerator.java
Labels: Google LGTM, size/M

#1480 Modified parameters descriptions as per public doc
  v1/src/main/java/com/google/cloud/teleport/bigtable/BigtableToVectorEmbeddings.java
  v1/src/main/java/com/google/cloud/teleport/bigtable/CassandraToBigtable.java
  v1/src/main/java/com/google/cloud/teleport/bigtable/ParquetToBigtable.java
  v1/src/main/java/com/google/cloud/teleport/options/CommonTemplateOptions.java
  v1/src/main/java/com/google/cloud/teleport/options/WindowedFilenamePolicyOptions.java
  v1/src/main/java/com/google/cloud/teleport/templates/PubsubToText.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/DatastoreConverters.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/ErrorConverters.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/TextConverters.java
  v2/bigtable-common/src/main/java/com/google/cloud/teleport/v2/bigtable/options/BigtableCommonOptions.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/options/BigQueryCommonOptions.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/options/BigQueryStorageApiStreamingOptions.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/options/PubsubCommonOptions.java
  v2/datastream-to-sql/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSQL.java
  v2/google-ads-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/GoogleAdsToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/BigtableChangeStreamsToPubSubOptions.java
  v2/jdbc-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/JdbcToBigQueryOptions.java
  v2/pubsub-binary-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/PubsubAvroToBigQuery.java
Labels: Google LGTM, size/L

#1493 Modified parameters for all templates assigned
  v1/src/main/java/com/google/cloud/teleport/bigtable/BigtableToAvro.java
  v1/src/main/java/com/google/cloud/teleport/spanner/ExportPipeline.java
  v1/src/main/java/com/google/cloud/teleport/spanner/ImportPipeline.java
  v1/src/main/java/com/google/cloud/teleport/templates/PubSubToBigQuery.java
  v1/src/main/java/com/google/cloud/teleport/templates/PubsubToPubsub.java
  v1/src/main/java/com/google/cloud/teleport/templates/TextToPubsub.java
  v2/astradb-to-bigquery/src/main/java/com/google/cloud/teleport/v2/astradb/options/AstraDbToBigQueryOptions.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/SpannerChangeStreamsToGcsOptions.java
  v2/jdbc-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/JdbcToBigQueryOptions.java
  v2/jms-to-pubsub/src/main/java/com/google/cloud/teleport/v2/templates/JmsToPubsub.java
Labels: Google LGTM, size/L

#1500 Add jinja preprocessing to YamlTemplate
  plugins/core-plugin/src/main/resources/Dockerfile-template-yaml
  python/src/main/java/com/google/cloud/teleport/templates/python/YAMLTemplate.java
  python/src/main/python/yaml-template/main.py
  python/src/test/java/com/google/cloud/teleport/templates/python/YAMLTemplateIT.java
  python/src/test/resources/YamlTemplateIT.yaml
Labels: Google LGTM, size/L

#1535 Switch EventsIT and SessionIT from JSON to Avro
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerEventsIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerSessionIT.java
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-Articles.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-Articles.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-Authors.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-Authors.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-Books.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-Books.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-backfill-Movie.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-backfill-Movie.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-backfill-Users.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-backfill-Users.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-cdc-Users.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-cdc-Users.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-statements.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSessionIT/mysql-backfill-Category.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSessionIT/mysql-backfill-Category.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSessionIT/mysql-cdc-Category.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSessionIT/mysql-cdc-Category.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSessionIT/mysql-statements.sql
Labels: Google LGTM, size/L

#1549 optimized the processing for lean Spanner write intervals
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/processing/handler/GCSToSourceStreamingHandler.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/transforms/GcsToSourceStreamer.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/GCSReader.java
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/utils/SpannerDao.java
Labels: Google LGTM, size/L, Migration overrides

#1552 Add integration test for KafkaToBigQuery Template
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/BigQueryDynamicDestination.java
  v2/kafka-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlexAvroIT.java
  v2/kafka-to-bigquery/src/test/resources/KafkaToBigQueryFlexAvroIT/avro_schema.avsc
  v2/kafka-to-bigquery/src/test/resources/KafkaToBigQueryFlexAvroIT/other_avro_schema.avsc
Labels: size/L

#1557 Add guidance on deprecating parameters
  contributor-docs/code-contributions.md
Labels: Google LGTM, size/S

#1551 reader integration test
  v2/spanner-change-streams-to-sharded-file-sink/pom.xml
  v2/spanner-change-streams-to-sharded-file-sink/src/main/java/com/google/cloud/teleport/v2/templates/changestream/DataChangeRecordTypeConvertor.java
  v2/spanner-change-streams-to-sharded-file-sink/src/test/java/com/google/cloud/teleport/v2/templates/SpannerChangeStreamToGcsSimpleIT.java
  v2/spanner-change-streams-to-sharded-file-sink/src/test/java/com/google/cloud/teleport/v2/templates/changestream/DataChangeRecordTypeConvertorTest.java
  v2/spanner-change-streams-to-sharded-file-sink/src/test/resources/SpannerChangeStreamToGcsSimpleIT/session.json
  v2/spanner-change-streams-to-sharded-file-sink/src/test/resources/SpannerChangeStreamToGcsSimpleIT/spanner-schema-simple.sql
Labels: Google LGTM, size/XXL

#1533 BULK MISC FIXES: Add error counters; Fix null string handlings
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/constants/MetricCounters.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/constants/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/mysql/MysqlDialectAdapter.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/JdbcSourceRowMapper.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/transformer/SourceRowToMutationDoFn.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/avro/AvroToValueMapper.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/avro/GenericRecordTypeConvertor.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/AvroToValueMapperTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/GenericRecordTypeConvertorTest.java
Labels: Google LGTM, size/L

#1550 added unit test to spanner-common
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/ddl/InformationSchemaScannerTest.java
Labels: Google LGTM, size/L

#1559 Add more guidance on adding new templates
  contributor-docs/add-flex-template.md
  contributor-docs/add-load-test.md
  contributor-docs/code-contributions.md
  contributor-docs/maintainers-guide.md
  tutorials/README.md
Labels: Google LGTM, size/M

#1560 Refactor KafkaToBigQueryFlexOptions
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/options/KafkaToBigQueryFlexOptions.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/AvroDynamicTransform.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/BigQueryDynamicDestination.java
Labels: size/M

#1538 added unit tests to Spanner transaction writer
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/SpannerTransactionWriterDoFn.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/SpannerTransactionWriterDoFnTest.java
Labels: Google LGTM, size/L

#1564 Add a stale workflow to handle old issues/prs
  .github/workflows/stale.yml
Labels: Google LGTM, size/S

#1565 Add datetime -> timestamp mapping to query help text
  v2/jdbc-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/JdbcToBigQueryOptions.java
Labels: Google LGTM, size/XS

#1563 Add more docs on adding ITs
  contributor-docs/add-integration-or-load-test.md
  contributor-docs/code-contributions.md
Labels: Google LGTM, size/M

#1561 added integration test for rev replication reader job - custom shard id
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/storage/conditions/GCSArtifactsCheck.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/storage/conditions/package-info.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/storage/conditions/GCSArtifactsCheckTest.java
  v2/spanner-change-streams-to-sharded-file-sink/src/test/java/com/google/cloud/teleport/v2/templates/SpannerChangeStreamToGcsCustomShardIT.java
  v2/spanner-change-streams-to-sharded-file-sink/src/test/java/com/google/cloud/teleport/v2/templates/SpannerChangeStreamToGcsITBase.java
  v2/spanner-change-streams-to-sharded-file-sink/src/test/java/com/google/cloud/teleport/v2/templates/SpannerChangeStreamToGcsSimpleIT.java
  v2/spanner-change-streams-to-sharded-file-sink/src/test/resources/SpannerChangeStreamToGcsCustomShardIT/session.json
  v2/spanner-change-streams-to-sharded-file-sink/src/test/resources/SpannerChangeStreamToGcsCustomShardIT/spanner-schema.sql
  v2/spanner-custom-shard/src/main/java/com/custom/CustomShardIdFetcherForIT.java
  v2/spanner-custom-shard/src/test/java/com/custom/CustomShardIdFetcherForITTest.java
Labels: Google LGTM, size/XXL

#1423 Template parameters: update old types to new ones
  v1/src/main/java/com/google/cloud/teleport/bigtable/CassandraToBigtable.java
  v1/src/main/java/com/google/cloud/teleport/spanner/ExportPipeline.java
  v1/src/main/java/com/google/cloud/teleport/spanner/ImportPipeline.java
  v1/src/main/java/com/google/cloud/teleport/templates/BigQueryToTFRecord.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/DatadogConverters.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/DatastoreConverters.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/SplunkConverters.java
  v2/bigtable-changestreams-to-hbase/src/main/java/com/google/cloud/teleport/v2/templates/BigtableChangeStreamsToHBase.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/auto/blocks/WriteToBigQuery.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/options/WindowedFilenamePolicyOptions.java
  v2/datastream-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToBigQuery.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
  v2/datastream-to-sql/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSQL.java
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/options/ElasticsearchWriteOptions.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/GCSToSourceDb.java
  v2/google-ads-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/GoogleAdsToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/SpannerChangeStreamsToBigQueryOptions.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/SpannerChangeStreamsToPubSubOptions.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextIOToBigQuery.java
  v2/googlecloud-to-splunk/src/main/java/com/google/cloud/teleport/v2/transforms/SplunkConverters.java
  v2/jms-to-pubsub/src/main/java/com/google/cloud/teleport/v2/templates/JmsToPubsub.java
  v2/pubsub-binary-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/PubsubProtoToBigQuery.java
  v2/pubsub-cdc-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/PubSubCdcToBigQuery.java
  v2/pubsub-to-jms/src/main/java/com/google/cloud/teleport/v2/templates/PubsubToJms.java
  v2/pubsub-to-redis/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToRedis.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/options/SourceDbToSpannerOptions.java
  v2/streaming-data-generator/src/main/java/com/google/cloud/teleport/v2/templates/StreamingDataGenerator.java
Labels: Google LGTM, size/L

#1571 Provide useful stale message
  .github/workflows/stale.yml
Labels: Google LGTM, size/XS

#1569 Replace changed-files with modules-to-build
  .github/actions/setup-env/action.yml
  .github/workflows/java-pr.yml
  .github/workflows/release.yml
  cicd/internal/flags/common-flags.go
  cicd/internal/flags/common-flags_test.go
  cicd/internal/op/maven.go
  cicd/internal/workflows/maven-workflows.go
Labels: Google LGTM, size/L

#1558 GcsToSourceDB template integration test - Spanner Reverse replication writer IT
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/TemplateTestBase.java
  v2/gcs-to-sourcedb/pom.xml
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/GCSToSourceDbWithoutReaderIT.java
  v2/gcs-to-sourcedb/src/test/resources/GCSToSourceDbWithoutReaderIT/events.txt
  v2/gcs-to-sourcedb/src/test/resources/GCSToSourceDbWithoutReaderIT/session.json
  v2/gcs-to-sourcedb/src/test/resources/GCSToSourceDbWithoutReaderIT/spanner-schema.sql
Labels: Google LGTM, size/L

#1573 Add Spanner PR workflow and exclude Spanner from global workflow
  .github/workflows/java-pr.yml
  .github/workflows/spanner-pr.yml
  cicd/internal/flags/common-flags.go
  cicd/internal/flags/common-flags_test.go
  cicd/internal/op/maven.go
  cicd/internal/workflows/maven-workflows.go
Labels: Google LGTM, size/L

#1537 Add support for KAFKA_TOPIC template parameters.
  metadata/src/main/java/com/google/cloud/teleport/metadata/TemplateParameter.java
  metadata/src/main/java/com/google/cloud/teleport/metadata/util/MetadataUtils.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/ImageSpecParameter.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/ImageSpecParameterType.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/model/TemplateDefinitionsTest.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/sample/AtoBOk.java
Labels: Google LGTM, size/M

#1566 Add support for writing Kafka keys in Kafka To BigQuery Template
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/options/KafkaToBigQueryFlexOptions.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/AvroDynamicTransform.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/AvroTransform.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/BigQueryDynamicDestination.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/utils/BigQueryAvroUtils.java
  v2/kafka-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlexAvroIT.java
Labels: size/L

#1580 Increase operations and allow manual triggering of stale
  .github/workflows/stale.yml
Labels: Google LGTM, size/XS

#1543 Convert sharded migration ITs to use Avro
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerDatatypeIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT.java
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Movie-shard1.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Movie-shard1.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Movie-shard2.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Movie-shard2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-backfill-logical-shard1.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-backfill-logical-shard1.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-backfill-logical-shard2.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-backfill-logical-shard2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-backfill-logical-shard3.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-backfill-logical-shard3.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-backfill-logical-shard4.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-backfill-logical-shard4.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-cdc-logical-shard1.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-cdc-logical-shard2.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-cdc-logical-shard3.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-cdc-logical-shard4.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-cdc-shard1.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/Users-cdc-shard2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithMigrationShardIdColumnIT/mysql-statements.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-backfill-logical-shard1.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-backfill-logical-shard1.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-backfill-logical-shard2.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-backfill-logical-shard2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-backfill-logical-shard3.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-backfill-logical-shard3.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-backfill-logical-shard4.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-backfill-logical-shard4.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-cdc-logical-shard1.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-cdc-logical-shard2.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-cdc-logical-shard3.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-cdc-logical-shard4.avro
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-cdc-shard1.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/Users-cdc-shard2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationWithoutMigrationShardIdColumnIT/mysql-statements.sql
Labels: Google LGTM, size/L

#1574 [BULK] Misc changes across types, logging and options
  v2/common/src/main/java/com/google/cloud/teleport/v2/options/CommonTemplateOptions.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/options/SourceDbToSpannerOptions.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/spanner/ResultSetToMutation.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/spanner/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/SourceDbToSpanner.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/spanner/ResultSetToMutationTest.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/avro/GenericRecordTypeConvertor.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/AvroTestingHelper.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/GenericRecordTypeConvertorTest.java
Labels: Google LGTM, size/L

#1510 Modified dataflow templates parameter description
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextIOToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextToBigQueryStreaming.java
  v2/pubsub-to-mongodb/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToMongoDB.java
Labels: Google LGTM, size/M

#1578 Fixing value mapping for blob and year in Reader
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/JdbcValueMapper.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/provider/MysqlJdbcValueMappings.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/JdbcSourceRowMapperTest.java
Labels: Google LGTM, size/M

#1502 Modified parameters for Dataflow templates
  v1/src/main/java/com/google/cloud/teleport/bigtable/BigtableToJson.java
  v1/src/main/java/com/google/cloud/teleport/templates/CSVToBigQuery.java
  v1/src/main/java/com/google/cloud/teleport/templates/PubsubToAvro.java
  v1/src/main/java/com/google/cloud/teleport/templates/SpannerToText.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/CsvConverters.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/SpannerConverters.java
  v2/bigquery-to-bigtable/src/main/java/com/google/cloud/teleport/v2/templates/BigQueryToBigtable.java
  v2/bigtable-common/src/main/java/com/google/cloud/teleport/v2/bigtable/options/BigtableCommonOptions.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/BigQueryConverters.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/CsvConverters.java
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/options/ElasticsearchWriteOptions.java
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/options/GCSToElasticsearchOptions.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/SpannerChangeStreamsToPubSubOptions.java
  v2/jdbc-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/JdbcToPubsubOptions.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQuery.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/options/MongoDbToBigQueryOptions.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQueryCdc.java
  v2/pubsub-to-redis/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToRedis.java
Labels: Google LGTM, size/L

#1491 Modified parameters for dataflow templates
  v1/src/main/java/com/google/cloud/teleport/templates/DLPTextToBigQueryStreaming.java
  v1/src/main/java/com/google/cloud/teleport/templates/ImportJobPlaceholder.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/DatastoreConverters.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/SpannerChangeStreamsToBigQueryOptions.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/SpannerToBigQueryOptions.java
  v2/googlecloud-to-mongodb/src/main/java/com/google/cloud/teleport/v2/mongodb/options/BigQueryToMongoDbOptions.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/options/Neo4jFlexTemplateOptions.java
  v2/pubsub-binary-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/PubsubProtoToBigQuery.java
Labels: Google LGTM, size/L

#1347 Update Neo4j Java driver to latest 4.4 version
  pom.xml
Labels: Google LGTM, size/XS

#1588 use KafkaReadOptions for topics, bootstrapServers etc
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/options/KafkaReadOptions.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToGcsFlex.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/transforms/WriteTransform.java
  v2/kafka-to-gcs/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToGcsIT.java
Labels: size/M

#1418 Use built-in batch grouping transform
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/model/job/Config.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/transforms/Neo4jRowWriterTransform.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/transforms/Partitioner.java
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/transforms/SplitIntoBatches.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/transforms/PartitionerTest.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/transforms/SplitIntoBatchesTest.java
Labels: Google LGTM, size/L

#1513 Add GCS_READ_BUCKET type to the template parameter type
  metadata/src/main/java/com/google/cloud/teleport/metadata/TemplateParameter.java
  metadata/src/main/java/com/google/cloud/teleport/metadata/util/MetadataUtils.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/ImageSpecParameter.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/ImageSpecParameterType.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/model/TemplateDefinitionsTest.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/sample/AtoBOk.java
Labels: Google LGTM, size/M

#1581 Refactor KafkaToBigQueryFlexOptions and choose defaults for the KafkaToBigQueryFlex template
  v2/common/src/main/java/com/google/cloud/teleport/v2/utils/BigQueryIOUtils.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/options/KafkaReadOptions.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/utils/KafkaTopicUtils.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/options/KafkaToBigQueryFlexOptions.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/AvroDynamicTransform.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/AvroTransform.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/BigQueryDynamicDestination.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/utils/BigQueryAvroUtils.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/utils/BigQueryConstants.java
  v2/kafka-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlexAvroIT.java
Labels: size/XXL

#1595 fix concurrency on Java PR's
  .github/workflows/java-pr.yml
Labels: Google LGTM, size/XS

#1596 Add new template parameter types
  metadata/src/main/java/com/google/cloud/teleport/metadata/TemplateParameter.java
  metadata/src/main/java/com/google/cloud/teleport/metadata/util/MetadataUtils.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/ImageSpecParameter.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/ImageSpecParameterType.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/model/TemplateDefinitionsTest.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/sample/AtoBOk.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/JavascriptTextTransformer.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextIOToBigQuery.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/options/MongoDbToBigQueryOptions.java
Labels: Google LGTM, size/L

#1601 update Beam Quest Link
  README.md
Labels: Google LGTM, size/XS

#1444 Document Apple M1 maven profile
  contributor-docs/code-contributions.md
Labels: Google LGTM, size/S

#1531 Mark YamlTemplate as GA
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/TemplateDefinitions.java
  plugins/core-plugin/src/main/resources/README-template.md
  python/README_Yaml_Template.md
  python/src/main/java/com/google/cloud/teleport/templates/python/YAMLTemplate.java
Labels: Google LGTM, size/M

#1407 Fail Spanner CDC to BQ jobs that set BQ changelog table to _metadata_spanner_table_name
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/spannerchangestreamstobigquery/SpannerChangeStreamsToBigQuery.java
Labels: Google LGTM, size/XS

#1590 Fix Neo4j query parameter creation
  v2/googlecloud-to-neo4j/src/main/java/com/google/cloud/teleport/v2/neo4j/utils/DataCastingUtils.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/templates/PropertyMappingsIT.java
  v2/googlecloud-to-neo4j/src/test/java/com/google/cloud/teleport/v2/neo4j/utils/DataCastingUtilsTest.java
  v2/googlecloud-to-neo4j/src/test/resources/testing-specs/property-mappings/mapping-clash-bq-spec.json
Labels: Google LGTM, size/L

#1597 Enable committing offsets in kafka to gcs, BQ template
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/options/KafkaReadOptions.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/KafkaTransform.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/utils/KafkaCommonUtils.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToGcsFlex.java
Labels: size/L

#1602 Add KafkaTopic to kafka to gcs template
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToGcsFlex.java
Labels: size/M

#1599 Fix tests failing due to changed pipeline options names
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQuery.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
  v2/kafka-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlexAvroIT.java
  v2/kafka-to-gcs/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToGcsIT.java
Labels: size/M

#1585 [BULK] Review configs
  v2/sourcedb-to-spanner/pom.xml
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/options/OptionsToConfigBuilder.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/options/SourceDbToSpannerOptions.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/iowrapper/JdbcIoWrapper.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/iowrapper/config/JdbcIOWrapperConfig.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/iowrapper/config/TableConfig.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/options/OptionsToConfigBuilderTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/iowrapper/JdbcIoWrapperTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/iowrapper/config/TableConfigTest.java
Labels: Google LGTM, size/L

#1604 added table inference
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/options/OptionsToConfigBuilder.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/SourceDbToSpanner.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/options/OptionsToConfigBuilderTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/SourceDbToSpannerTest.java
  v2/sourcedb-to-spanner/src/test/resources/session-file-empty.json
  v2/sourcedb-to-spanner/src/test/resources/session-file-with-dropped-column.json
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/exceptions/InvalidOptionsException.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/ISchemaMapper.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/IdentityMapper.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SessionBasedMapper.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/spanner/SpannerSchema.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/spanner/package-info.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/IdentityMapperTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SessionBasedMapperTest.java
  v2/spanner-common/src/test/resources/session-file-empty.json
Labels: Google LGTM, size/XL

#1584 [BULK] Add basic IT for bulk
  v2/sourcedb-to-spanner/pom.xml
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/SourceDbToSpannerITBase.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/SourceDbToSpannerSimpleIT.java
  v2/sourcedb-to-spanner/src/test/resources/SourceDbToSpannerSimpleIT/spanner-schema.sql
Labels: Google LGTM, size/L

#1605 Use project id for mk templates
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/utils/KafkaTopicUtils.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToGcsFlex.java
Labels: size/S

#1606 auto table inference fix
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/iowrapper/JdbcIoWrapper.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/SourceDbToSpanner.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/iowrapper/JdbcIoWrapperTest.java
Labels: Google LGTM, size/M

#1612 Refactor and bug fixes for KafkaToBigQueryFlex
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/options/KafkaReadOptions.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/KafkaTransform.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/options/KafkaToBigQueryFlexOptions.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQuery.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
  v2/kafka-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlexAvroIT.java
Labels: size/M

#1611 Fix Kafka to GCS test
  v2/kafka-to-gcs/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToGcsIT.java
Labels: size/XS

#1609 Refactor pipeline options for Kafka to GCS template
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/options/KafkaReadOptions.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/options/KafkaWriteOptions.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/options/SchemaRegistryOptions.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/KafkaTransform.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/utils/FileAwareFactoryFn.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/utils/KafkaConfig.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/values/KafkaAuthenticationMethod.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/values/KafkaTemplateParamters.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/options/KafkaToBigQueryFlexOptions.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
  v2/kafka-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlexAvroIT.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToGcsFlex.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/transforms/AvroWriteTransform.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/transforms/WriteTransform.java
  v2/kafka-to-gcs/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToGcsIT.java
  v2/kafka-to-kafka/src/main/java/com/google/cloud/teleport/v2/options/KafkaToKafkaOptions.java
  v2/kafka-to-kafka/src/main/java/com/google/cloud/teleport/v2/templates/ConsumerProperties.java
  v2/kafka-to-kafka/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToKafka.java
  v2/kafka-to-kafka/src/main/java/com/google/cloud/teleport/v2/templates/ProducerProperties.java
Labels: size/XXL

#1615 added dlq formatting
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/iowrapper/JdbcIoWrapper.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/SourceDbToSpanner.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/writer/DeadLetterQueue.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/writer/DeadLetterQueueTest.java
Labels: Google LGTM, size/L

#1617 Update helpTexts of the Kafka templates
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/options/KafkaReadOptions.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/options/KafkaWriteOptions.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/options/SchemaRegistryOptions.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/options/KafkaToBigQueryFlexOptions.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToGcsFlex.java
Labels: size/L

#1618 Fix KafkaToGcsIT
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQuery.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/transforms/AvroWriteTransform.java
  v2/kafka-to-gcs/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToGcsIT.java
Labels: Google LGTM, size/S
