Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2024-04, with the labels that each got.

#1323 Integration test for all datatype mappings & conversions
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerDatatypeIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerITBase.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerSimpleIT.java
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-backfill-AllDatatypeColumns.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-backfill-AllDatatypeColumns2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-cdc-AllDatatypeColumns.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-cdc-AllDatatypeColumns2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/mysql-schema.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDatatypeIT/spanner-schema.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSimpleIT/mysql-backfill-Category.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSimpleIT/mysql-cdc-Category.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSimpleIT/mysql-schema.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSimpleIT/mysql-session.json
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSimpleIT/spanner-schema.sql
Labels: Google LGTM, size/XXL

#1410 Refactor session file tests for Spanner ITs
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerEventsIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerSessionIT.java
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-Articles.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-Authors.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-Books.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-backfill-Movie.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-backfill-Users.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-cdc-Users.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/mysql-schema.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerEventsIT/spanner-schema.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSessionIT/mysql-backfill-Category.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSessionIT/mysql-cdc-Category.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSessionIT/mysql-schema.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSessionIT/mysql-session.json
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSessionIT/spanner-schema.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerSimpleIT/mysql-session.json
Labels: Google LGTM, size/XXL

#1388 Add defaultStreamingMode
  metadata/src/main/java/com/google/cloud/teleport/metadata/Template.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/TemplateSpecsGenerator.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/ImageSpecMetadata.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/TemplateDefinitions.java
Labels: size/S

#1417 Get consistent java-pr signal on main
  .github/workflows/java-pr.yml
Labels: Google LGTM, size/S

#1403 Default to THROUGHPUT_BASED autoscaling for classic templates
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubToSplunkIT.java
Labels: Google LGTM, size/XS

#1376 Support FLOAT32 type in v1 templates of Spanner
  pom.xml
  v1/pom.xml
  v1/src/main/java/com/google/cloud/teleport/spanner/AvroRecordConverter.java
  v1/src/main/java/com/google/cloud/teleport/spanner/AvroSchemaToDdlConverter.java
  v1/src/main/java/com/google/cloud/teleport/spanner/CSVRecordToMutation.java
  v1/src/main/java/com/google/cloud/teleport/spanner/DdlToAvroSchemaConverter.java
  v1/src/main/java/com/google/cloud/teleport/spanner/SpannerRecordConverter.java
  v1/src/main/java/com/google/cloud/teleport/spanner/TextImportPipeline.java
  v1/src/main/java/com/google/cloud/teleport/spanner/TextImportTransform.java
  v1/src/main/java/com/google/cloud/teleport/spanner/common/SizedType.java
  v1/src/main/java/com/google/cloud/teleport/spanner/common/Type.java
  v1/src/main/java/com/google/cloud/teleport/spanner/ddl/Column.java
  v1/src/main/java/com/google/cloud/teleport/templates/TextToSpanner.java
  v1/src/main/java/com/google/cloud/teleport/templates/common/SpannerConverters.java
  v1/src/main/java/org/apache/beam/sdk/io/gcp/spanner/MutationSizeEstimator.java
  v1/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerSchema.java
  v1/src/test/java/com/google/cloud/teleport/spanner/AvroRecordConverterTest.java
  v1/src/test/java/com/google/cloud/teleport/spanner/AvroSchemaToDdlConverterTest.java
  v1/src/test/java/com/google/cloud/teleport/spanner/CopyDbTest.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ExportPipelineIT.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ExportRelatedTablesCheckTest.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ImportFromAvroTest.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ImportPipelineIT.java
  v1/src/test/java/com/google/cloud/teleport/spanner/SpannerRecordConverterTest.java
  v1/src/test/java/com/google/cloud/teleport/spanner/TextImportTransformTest.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ddl/InformationSchemaScannerIT.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ddl/RandomDdlGenerator.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ddl/RandomInsertMutationGenerator.java
  v1/src/test/java/com/google/cloud/teleport/spanner/ddl/RandomValueGenerator.java
  v1/src/test/java/com/google/cloud/teleport/templates/TextImportPipelineIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/common/SpannerConverterTest.java
  v1/src/test/resources/ImportPipelineIT/googlesql/Float32Table-manifest.json
  v1/src/test/resources/ImportPipelineIT/googlesql/Float32Table.avro
  v1/src/test/resources/ImportPipelineIT/googlesql/spanner-export.json
  v1/src/test/resources/ImportPipelineIT/postgres/Float32Table-manifest.json
  v1/src/test/resources/ImportPipelineIT/postgres/Float32Table.avro
  v1/src/test/resources/ImportPipelineIT/postgres/spanner-export.json
Labels: Google LGTM, size/XL

#1424 Upgrade Beam version to 2.55.1
  plugins/core-plugin/src/main/resources/Dockerfile-xlang-template
  pom.xml
  python/src/main/python/yaml-template/requirements.txt
  v1/src/main/java/org/apache/beam/sdk/io/gcp/spanner/SpannerConfig.java
  v2/googlecloud-to-googlecloud/src/main/resources/requirements.txt
  v2/pom.xml
  v2/pubsub-binary-to-bigquery/src/main/resources/requirements.txt
Labels: Google LGTM, size/M

#1433 Bugfix for UI issue removing flex templates from drop down menu
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/FirestoreToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextIOToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextToBigQueryStreaming.java
  v2/pubsub-binary-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/PubsubProtoToBigQuery.java
Labels: Google LGTM, size/S

#1434 Create Beam Version Variable for Dockerfile Template
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/PythonDockerfileGenerator.java
  plugins/core-plugin/src/main/resources/Dockerfile-xlang-template
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
Labels: Google LGTM, size/S

#1436 Making project level codecoverage checks optional
  .github/codecov.yml
Labels: Google LGTM, size/XS

#1435 Implement enum based experiment value provider
  metadata/pom.xml
  metadata/src/main/java/com/google/cloud/teleport/metadata/util/EnumBasedExperimentValueProvider.java
  metadata/src/test/java/com/google/cloud/teleport/metadata/util/EnumBasedExperimentValueProviderTest.java
Labels: Google LGTM, size/L

#1440 disable YamlTemplateIT's until #1405 is merged
  python/src/test/java/com/google/cloud/teleport/templates/python/YAMLTemplateIT.java
Labels: Google LGTM, size/XS

#1425 Python udfs
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/PythonExternalTextTransformer.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/FirestoreToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/PubSubToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextIOToBigQuery.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/TextToBigQueryStreaming.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/PubSubToBigQueryIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/TextIOToBigQueryIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/TextToBigQueryStreamingIT.java
  v2/pubsub-binary-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/PubsubProtoToBigQuery.java
  v2/pubsub-binary-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/PubsubProtoToBigQueryIT.java
Labels: Google LGTM, size/L

#1439 Basic Contract for Bulk Reader - Part-1
  v2/sourcedb-to-spanner/pom.xml
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/Reader.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/row/SerializableGenericRecord.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/row/SourceRow.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/row/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/SourceSchema.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/SourceSchemaReference.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/SourceTableReference.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/SourceTableSchema.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/transform/AccumulatingTableReader.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/transform/ReaderTransform.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/transform/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/package-info.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/FakeReader.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/row/SerializableGenericRecordTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/row/SourceRowTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/SchemaTestUtils.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/SourceSchemaReferenceTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/SourceSchemaTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/SourceTableReferenceTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/SourceTableSchemaTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/transform/AccumulatingTableReaderTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/transform/ReaderTransformTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/transform/ReaderTransformTestUtils.java
Labels: Google LGTM, size/XXL

#1449 A small simplification in Bulk Reader tests.
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/row/SourceRowTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/transform/AccumulatingTableReaderTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/transform/ReaderTransformTestUtils.java
Labels: Google LGTM, size/L

#1445 Allow manual triggering of PR workflow
  .github/workflows/java-pr.yml
Labels: Google LGTM, size/XS

#1437 Add parentName and parentTriggerValues attributes in the template plugin
  metadata/src/main/java/com/google/cloud/teleport/metadata/TemplateParameter.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/ImageSpecParameter.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/TemplateSpecsGeneratorTest.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/sample/AtoBOk.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/options/BigQueryStorageApiBatchOptions.java
Labels: Google LGTM, size/L

#1405 YamlTemplate speed improvements
  .github/scripts/startup-script.sh
  metadata/src/main/java/com/google/cloud/teleport/metadata/Template.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/PythonDockerfileGenerator.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/YamlDockerfileGenerator.java
  plugins/core-plugin/src/main/resources/Dockerfile-template-python
  plugins/core-plugin/src/main/resources/Dockerfile-template-yaml
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/YamlDockerfileGeneratorTest.java
  plugins/templates-maven-plugin/src/main/java/com/google/cloud/teleport/plugin/maven/TemplatesStageMojo.java
  python/src/main/java/com/google/cloud/teleport/templates/python/YAMLTemplate.java
  python/src/main/python/yaml-template/Dockerfile
  python/src/main/python/yaml-template/main.py
  python/src/main/python/yaml-template/requirements.txt
  python/src/test/java/com/google/cloud/teleport/templates/python/YAMLTemplateIT.java
  python/src/test/resources/YamlTemplateIT.yaml
  yaml/src/main/java/com/google/cloud/teleport/templates/yaml/KafkaToBigQueryYaml.java
  yaml/src/main/python/main.py
  yaml/src/main/python/requirements.txt
Labels: Google LGTM, size/L

#1455 fixed escape characters and timer type
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/processing/dml/DMLGenerator.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/transforms/GcsToSourceStreamer.java
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/processing/dml/DMLGeneratorTest.java
  v2/gcs-to-sourcedb/src/test/resources/quotesSession.json
Labels: Google LGTM, size/XL

#1447 Update regex to make non-alphanumeric values optional in date-time patterns
  v1/src/main/java/com/google/cloud/teleport/options/WindowedFilenamePolicyOptions.java
Labels: Google LGTM, size/S

#1458 First pass at revamping docs
  CONTRIBUTING.md
  README.md
  contributor-docs/code-contributions.md
  contributor-docs/code-owners.md
  contributor-docs/maintainers-guide.md
  contributor-docs/release-process.md
Labels: Google LGTM, size/XXL

#1454 [BULK Template] Add GenericRecordType conversion methods
  v2/sourcedb-to-spanner/pom.xml
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/transformer/package-info.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/avro/AvroToValueMapper.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/avro/GenericRecordTypeConvertor.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/avro/package-info.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/exceptions/AvroTypeConvertorException.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/ISchemaMapper.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/IdentityMapper.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SessionBasedMapper.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/AvroTestingHelper.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/AvroToValueMapperTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/GenericRecordTypeConvertorTest.java
  v2/spanner-common/src/test/resources/avro/all-spanner-types.avsc
  v2/spanner-common/src/test/resources/avro/logical-types-schema.avsc
Labels: Google LGTM, size/XXL

#1452 Fix JdbcToBigQuery BigQuerySchemaPath parameter present
  v2/jdbc-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/JdbcToBigQuery.java
Labels: Google LGTM, size/XS

#1442 Implement StreamingMode related validations
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/TemplateDefinitions.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/model/TemplateDefinitionsTest.java
Labels: Google LGTM, size/L

#1468 Validate/document jdbc required params
  v2/jdbc-to-googlecloud/README_Jdbc_to_BigQuery_Flex.md
  v2/jdbc-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/JdbcToBigQueryOptions.java
  v2/jdbc-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/JdbcToBigQuery.java
Labels: Google LGTM, size/S

#1461 [BULK template] Add Transformer Dofn
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/transformer/SourceRowToMutationDoFn.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/transformer/SourceRowToMutationDoFnTest.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/avro/GenericRecordTypeConvertor.java
Labels: Google LGTM, size/L

#1466 Update ImageSpec metadata with streaming mode experiments
  metadata/src/main/java/com/google/cloud/teleport/metadata/util/EnumBasedExperimentValueProvider.java
  plugins/core-plugin/src/main/java/com/google/cloud/teleport/plugin/model/TemplateDefinitions.java
  plugins/core-plugin/src/test/java/com/google/cloud/teleport/plugin/model/TemplateDefinitionsTest.java
Labels: Google LGTM, size/M

#1467 Override jacoco coverage
  v2/spanner-common/pom.xml
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/GenericRecordTypeConvertorTest.java
Labels: Google LGTM, size/M

#1402 Fix ARRAY<JSON> and ARRAY<NUMERIC> spanner queries to preserve null and empty array correctly
  v1/src/main/java/com/google/cloud/teleport/spanner/BuildReadFromTableOperations.java
  v1/src/test/java/com/google/cloud/teleport/spanner/BuildReadFromTableOperationsTest.java
Labels: Google LGTM, size/M

#1453 Fozzie elasticsearch with python udfs
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/CsvConverters.java
  v2/common/src/test/java/com/google/cloud/teleport/v2/transforms/CsvConvertersTest.java
  v2/common/src/test/resources/CsvConvertersTest/elasticPyUdf.py
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/options/BigQueryToElasticsearchOptions.java
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/options/GCSToElasticsearchOptions.java
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/options/PubSubToElasticsearchOptions.java
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/templates/BigQueryToElasticsearch.java
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/templates/GCSToElasticsearch.java
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/templates/PubSubToElasticsearch.java
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/transforms/PubSubMessageToJsonDocument.java
  v2/googlecloud-to-elasticsearch/src/main/resources/requirements.txt
  v2/googlecloud-to-elasticsearch/src/test/java/com/google/cloud/teleport/v2/elasticsearch/templates/BigQueryToElasticsearchIT.java
  v2/googlecloud-to-elasticsearch/src/test/java/com/google/cloud/teleport/v2/elasticsearch/templates/GCSToElasticsearchIT.java
  v2/googlecloud-to-elasticsearch/src/test/java/com/google/cloud/teleport/v2/elasticsearch/templates/GCSToElasticsearchTest.java
  v2/googlecloud-to-elasticsearch/src/test/java/com/google/cloud/teleport/v2/elasticsearch/templates/PubSubToElasticsearchIT.java
  v2/googlecloud-to-elasticsearch/src/test/resources/GCSToElasticsearch/elasticPyUdf.py
  v2/googlecloud-to-splunk/src/main/java/com/google/cloud/teleport/v2/templates/GCSToSplunk.java
Labels: Google LGTM, size/XL

#1473 Retry test failures on release workflow
  .github/workflows/release.yml
  cicd/cmd/run-it-smoke-tests/main.go
  cicd/cmd/run-it-tests/main.go
  cicd/internal/flags/it-flags.go
Labels: Google LGTM, size/S

#1479 Add user agent back to BQ to ElasticSearch template
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/templates/BigQueryToElasticsearch.java
  v2/googlecloud-to-elasticsearch/src/main/java/com/google/cloud/teleport/v2/elasticsearch/templates/GCSToElasticsearch.java
Labels: Google LGTM, size/XS

#1460 Type mappings for Bulk Reader
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/SourceTableSchema.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/UnifiedTypeMapper.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/UnifiedTypeMapping.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/MysqlMappingProvider.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/CustomLogical.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/CustomSchema.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/Decimal.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/SimpleUnifiedTypeMapping.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/UnifiedMappingProvider.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/Unsupported.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/Varchar.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/package-info.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/SchemaTestUtils.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/SourceSchemaTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/SourceTableSchemaTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/UnifiedTypeMapperTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/MysqlMappingProviderTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/CustomLogicalTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/CustomSchemaTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/DecimalTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/SimpleUnifiedTypeMappingTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/UnifiedMappingProviderTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/UnsupportedTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/unified/VarcharTest.java
Labels: size/XXL

#1481 Jdbc table schema discovery
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/exception/exception/RetriableSchemaDiscoveryException.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/exception/exception/SchemaDiscoveryException.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/exception/exception/SchemaDiscoveryRetriesExhaustedException.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/exception/exception/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/dialectadapter/dialectadapter/DialectAdapter.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/dialectadapter/dialectadapter/mysql/MysqlDialectAdapter.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/dialectadapter/dialectadapter/mysql/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/dialectadapter/dialectadapter/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/RetriableSchemaDiscovery.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/SchemaDiscovery.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/SchemaDiscoveryImpl.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/SourceSchemaReference.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/dialectadapter/dialectadapter/mysql/MysqlDialectAdapterTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/SchemaDiscoveryImplTest.java
Labels: Google LGTM, size/XXL
