Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2024-02, with the labels that each got.

#1308 add privateConnectivity to TestProperties for Datastream IT's
  cicd/internal/flags/it-flags.go
  cicd/internal/workflows/maven-workflows.go
Labels: Google LGTM, size/S

#1309 fix maven -am -amd issue on v2/common
  v2/spanner-migrations-sdk/pom.xml
Labels: Google LGTM, size/XS

#1312 Fix splunk IT's max message limit
  cicd/cmd/run-unit-tests/main.go
  cicd/internal/op/maven.go
  it/pom.xml
  it/splunk/pom.xml
  it/splunk/src/main/java/org/apache/beam/it/splunk/CustomSplunkResourceManager.java
  it/splunk/src/main/java/org/apache/beam/it/splunk/conditions/CustomSplunkEventsCheck.java
  it/splunk/src/main/java/org/apache/beam/it/splunk/conditions/package-info.java
  it/splunk/src/main/java/org/apache/beam/it/splunk/package-info.java
  v1/pom.xml
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubToSplunkIT.java
Labels: Google LGTM, size/XL

#1305 feat: Add RpcPriority flag to DatastreamToSpanner Template
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
Labels: Google LGTM, size/S

#1304 Fix BigQueryDynamicDestination to properly fetch TableRow field names
  v1/src/main/java/com/google/cloud/teleport/templates/common/BigQueryDynamicConverters.java
  v2/common/src/main/java/com/google/cloud/teleport/v2/transforms/BigQueryDynamicConverters.java
  v2/datastream-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/BigQueryDynamicConverters.java
Labels: Google LGTM, size/S

#1318 Add RpcPriority flag to Transaction
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/SpannerTransactionWriterDoFn.java
Labels: Google LGTM, size/XS

#1321 Enfore csvFormat and delimiter as required parameters for GCS_CSV_to_BigQuery template
  v1/src/main/java/com/google/cloud/teleport/templates/common/CsvConverters.java
Labels: Google LGTM, size/S

#1324 Fix bug in Template Metadata
  metadata/src/main/java/com/google/cloud/teleport/metadata/Template.java
Labels: size/XS

#1329 Fix bug in BigQuery IO utils regarding ALO mode
  v2/common/src/main/java/com/google/cloud/teleport/v2/utils/BigQueryIOUtils.java
Labels: Google LGTM, size/XS

#1327 Add Integration test for CSVToBigQuery template.
  v1/src/test/java/com/google/cloud/teleport/templates/CSVToBigQueryIT.java
  v1/src/test/resources/CSVToBigQueryIT/bq_destination_table_schema.json
  v1/src/test/resources/CSVToBigQueryIT/csv_input_with_header.csv
  v1/src/test/resources/CSVToBigQueryIT/csv_input_with_header.csv.bz2
  v1/src/test/resources/CSVToBigQueryIT/csv_input_without_header.csv
  v1/src/test/resources/CSVToBigQueryIT/csv_input_without_header.csv.bz2
Labels: Google LGTM, size/L

#1332 Update the helpText for UseStorageWriteApi
  v2/common/src/main/java/com/google/cloud/teleport/v2/options/BigQueryStorageApiStreamingOptions.java
Labels: Google LGTM, size/S

#1330 Update documentation for GCS_CSV_to_BigQuery template
  v1/README_GCS_CSV_to_BigQuery.md
  v1/src/main/java/com/google/cloud/teleport/templates/CSVToBigQuery.java
Labels: Google LGTM, size/L

#1310 DatastreamToSpanner integration test - MySQL to spanner sharded migration test
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerITBase.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerShardedMigrationIT.java
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpannerSimpleIT.java
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationIT/Movie-shard1.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationIT/Movie-shard2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationIT/Users-backfill-logical-shard1.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationIT/Users-backfill-logical-shard2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationIT/Users-backfill-logical-shard3.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationIT/Users-backfill-logical-shard4.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationIT/Users-cdc-shard1.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationIT/Users-cdc-shard2.jsonl
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationIT/mysql-schema.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationIT/mysql-session.json
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationIT/spanner-schema.sql
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationIT/transformation-context-shard1.json
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerShardedMigrationIT/transformation-context-shard2.json
Labels: Google LGTM, size/XL

#1335 Modify TemplateTestBase to launch multiple templates
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/TemplateTestBase.java
  metadata/src/main/java/com/google/cloud/teleport/metadata/MultiTemplateIntegrationTest.java
Labels: Google LGTM, size/L

#1336 added sourcedb-to-spanner
  v2/pom.xml
  v2/sourcedb-to-spanner/README.md
  v2/sourcedb-to-spanner/README_Sourcedb_to_Spanner.md
  v2/sourcedb-to-spanner/pom.xml
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/options/SourceDbToSpannerOptions.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/options/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/spanner/ResultSetToMutation.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/spanner/package-info.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/SourceDbToSpanner.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/package-info.java
  v2/sourcedb-to-spanner/src/main/resources/sourcedb-to-spanner-command-spec.json
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/spanner/ResultSetToMutationTest.java
  v2/sourcedb-to-spanner/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: Google LGTM, size/XXL

#1341 Load test kafka to bigquery
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/datagenerator/DataGenerator.java
  v2/kafka-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryLT.java
  v2/streaming-data-generator/pom.xml
  v2/streaming-data-generator/src/main/java/com/google/cloud/teleport/v2/templates/StreamingDataGenerator.java
  v2/streaming-data-generator/src/main/java/com/google/cloud/teleport/v2/transforms/StreamingDataGeneratorWriteToKafka.java
  v2/streaming-data-generator/src/test/java/com/google/cloud/teleport/v2/templates/StreamingDataGeneratorIT.java
Labels: size/XL

#1340 Updating Templates to Beam 2.54.0
  it/google-cloud-platform/pom.xml
  pom.xml
  v1/pom.xml
  v2/pubsub-to-redis/src/main/java/com/google/cloud/teleport/v2/templates/io/RedisHashIO.java
Labels: Google LGTM, size/S

#1344 Support slash in input topic regex
  v2/mqtt-to-pubsub/src/main/java/com/google/cloud/teleport/v2/templates/MqttToPubsub.java
Labels: Google LGTM, size/XS
