Repository GoogleCloudPlatform/DataflowTemplates, pull requests merged in 2024-07, with the labels that each got.

#1692 Terraform: Add support for using pre-existing private connectivity configuration
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/README.md
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/main.tf
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/terraform.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/terraform_simple.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/variables.tf
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/README.md
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/main.tf
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/variables.tf
  v2/spanner-common/terraform/samples/mysql-vpc-spanner/main.tf
Labels: Google LGTM, size/M

#1699 Schedule spanner templates load test everyday
  .github/workflows/spanner-load-tests.yml
Labels: Google LGTM, size/M

#1687 Binary datatype need to be saved with BINARY casting
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/processing/dml/DMLGenerator.java
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/processing/dml/DMLGeneratorTest.java
Labels: Google LGTM, size/S

#1703 Spanner Load test scheduling - Correcting setup step
  .github/workflows/spanner-load-tests.yml
Labels: Google LGTM, size/XS

#1666 Add BigQueryDeadLetterQueue for Kafka templates.
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/dlq/BigQueryDeadLetterQueue.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/dlq/BigQueryDeadLetterQueueOptions.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/AvroDynamicTransform.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/AvroTransform.java
  v2/kafka-common/src/main/java/com/google/cloud/teleport/v2/kafka/transforms/KafkaRecordToGenericRecordFailsafeElementFn.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlex.java
  v2/kafka-to-bigquery/src/main/java/com/google/cloud/teleport/v2/transforms/BigQueryWriteUtils.java
  v2/kafka-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToBigQueryFlexAvroIT.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/templates/KafkaToGcsFlex.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/transforms/AvroWriteTransform.java
  v2/kafka-to-gcs/src/main/java/com/google/cloud/teleport/v2/transforms/WriteTransform.java
  v2/kafka-to-gcs/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToGcsAvroBinaryIT.java
  v2/kafka-to-gcs/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToGcsFlexJsonIT.java
  v2/kafka-to-gcs/src/test/java/com/google/cloud/teleport/v2/templates/KafkaToGcsIT.java
Labels: size/XL

#1694 Upgrade Beam version to 2.57
  pom.xml
  v1/pom.xml
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/bigtablechangestreamstopubsub/model/Mod.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/bigtablechangestreamstopubsub/BigtableChangeStreamsToPubSubIT.java
  v2/pom.xml
Labels: Google LGTM, size/S

#1706 add kafka deps profile to release
  .github/workflows/release.yml
Labels: size/XS

#1698 Interleave and FK IT
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/GCSToSourceDbInterleaveIT.java
  v2/gcs-to-sourcedb/src/test/resources/GCSToSourceDbInterleaveIT/mysql-schema.sql
  v2/gcs-to-sourcedb/src/test/resources/GCSToSourceDbInterleaveIT/session.json
  v2/gcs-to-sourcedb/src/test/resources/GCSToSourceDbInterleaveIT/spanner-schema.sql
Labels: Google LGTM, size/XXL

#1712 added fk and referenced tables
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/ddl/Ddl.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/ddl/ForeignKey.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/ddl/InformationSchemaScanner.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/ddl/Table.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/ddl/DdlTest.java
Labels: Google LGTM, size/L

#1472 add deadletter to PubsubAvroToBigQueryIT
  v2/pubsub-binary-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/PubsubAvroToBigQueryIT.java
Labels: Google LGTM, size/M

#1691 Mongo to BQ - advanced filters
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/options/MongoDbToBigQueryOptions.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQuery.java
  v2/mongodb-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQueryIT.java
Labels: Google LGTM, size/L

#1484 Mongo to BigQuery - set schema manually in case js udf is filtering data
  v2/mongodb-to-googlecloud/README_MongoDB_to_BigQuery.md
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/options/MongoDbToBigQueryOptions.java
  v2/mongodb-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/mongodb/templates/MongoDbToBigQuery.java
Labels: Google LGTM, size/S

#1592 Remove CustomMySQLResourceManager
  it/jdbc/src/main/java/org/apache/beam/it/jdbc/CustomMySQLResourceManager.java
  it/jdbc/src/main/java/org/apache/beam/it/jdbc/package-info.java
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/GCSToSourceDbInterleaveIT.java
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/GCSToSourceDbWithReaderIT.java
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/GCSToSourceDbWithoutReaderIT.java
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToJdbcLTBase.java
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToMySql100TpsLT.java
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/TimezoneIT.java
Labels: Google LGTM, size/L

#1469 Add streaming engine variant for various ITs
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubToAvroIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubToBigQueryIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/PubSubToPubSubIT.java
  v1/src/test/java/com/google/cloud/teleport/templates/TextToPubsubIT.java
  v2/streaming-data-generator/src/test/java/com/google/cloud/teleport/v2/templates/StreamingDataGeneratorIT.java
Labels: Google LGTM, size/M

#1711 Terraform: Improvements to existing Terraform templates for live migrations
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/README.md
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/main.tf
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/terraform.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/variables.tf
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/README.md
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/main.tf
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/variables.tf
Labels: Google LGTM, size/L

#1721 Spanner Load tests - Increasing job cancel timeout
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner100GbLT.java
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToMySql100TpsLT.java
Labels: Google LGTM, size/XS, run-load-tests

#1719 Support FKs in bulk
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/options/OptionsToConfigBuilder.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/PipelineController.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/writer/SpannerWriter.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/options/OptionsToConfigBuilderTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/ForeignKeyDependencyIT.java
  v2/sourcedb-to-spanner/src/test/resources/ForeignKeyDependencyIT/mysql-schema.sql
  v2/sourcedb-to-spanner/src/test/resources/ForeignKeyDependencyIT/spanner-schema.sql
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/ddl/Ddl.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/ISchemaMapper.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/IdentityMapper.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SessionBasedMapper.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/ddl/DdlTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/IdentityMapperTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/schema/SessionBasedMapperTest.java
Labels: Google LGTM, size/XL

#1693 Bump Neo4j driver to latest 4.4 release
  pom.xml
Labels: Google LGTM, size/XS

#1710 Expose Elasticsearch socket timeout option
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/options/ElasticsearchWriteOptions.java
  v2/elasticsearch-common/src/main/java/com/google/cloud/teleport/v2/elasticsearch/transforms/WriteToElasticsearch.java
  v2/elasticsearch-common/src/test/java/com/google/cloud/teleport/v2/elasticsearch/transforms/WriteToElasticsearchTest.java
Labels: Google LGTM, size/M

#1705 Add spanner change streams to big query base case IT test
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/spannerchangestreamstobigquery/SpannerChangeStreamsToBigQueryIT.java
Labels: Google LGTM, size/L

#1713 ordered writes multishard
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/GCSToSourceDbInterleaveMultiShardIT.java
  v2/gcs-to-sourcedb/src/test/resources/GCSToSourceDbInterleaveMultiShardIT/mysql-schema.sql
  v2/gcs-to-sourcedb/src/test/resources/GCSToSourceDbInterleaveMultiShardIT/session.json
  v2/gcs-to-sourcedb/src/test/resources/GCSToSourceDbInterleaveMultiShardIT/spanner-schema.sql
Labels: Google LGTM, size/XXL

#1718 Fixing timeout handling for uniform partitioning and (temporarily) disabling splitting overhad
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/options/OptionsToConfigBuilder.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/mysql/MysqlDialectAdapter.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/iowrapper/JdbcIoWrapper.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/iowrapper/config/JdbcIOWrapperConfig.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/iowrapper/config/defaults/MySqlConfigDefaults.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/uniformsplitter/UniformSplitterDBAdapter.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/uniformsplitter/range/Range.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/uniformsplitter/transforms/RangeCountDoFn.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/uniformsplitter/transforms/RangeCountTransform.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/uniformsplitter/transforms/ReadWithUniformPartitions.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/mysql/MysqlDialectAdapterTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/uniformsplitter/transforms/MergeRangesDoFnTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/uniformsplitter/transforms/RangeCountDoFnTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/uniformsplitter/transforms/ReadWithUniformPartitionsTest.java
Labels: Google LGTM, size/L

#1724 Support float32 type in datastream
  v2/datastream-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/datastream/ChangeEventConvertorTest.java
  v2/datastream-to-spanner/src/test/resources/DataStreamToSpannerDDLIT/spanner-schema.sql
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/ddl/Column.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventSpannerConvertor.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventTypeConvertor.java
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/type/Type.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/ddl/DdlTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/ddl/InformationSchemaScannerTest.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/convertors/ChangeEventTypeConvertorTest.java
Labels: Google LGTM, size/L

#1697 Add datastream to sql IT's
  cicd/cmd/run-it-smoke-tests/main.go
  cicd/cmd/run-it-tests/main.go
  cicd/cmd/run-load-tests/main.go
  cicd/internal/flags/it-flags.go
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/cloudsql/CloudMySQLResourceManager.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/cloudsql/CloudOracleResourceManager.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/cloudsql/CloudPostgresResourceManager.java
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/cloudsql/CloudSqlResourceManager.java
  it/google-cloud-platform/src/test/java/org/apache/beam/it/gcp/cloudsql/CloudSqlResourceManagerTest.java
  v2/datastream-to-sql/pom.xml
  v2/datastream-to-sql/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToSQLIT.java
Labels: Google LGTM, size/XL

#1723 feat: Terraform: Add support for shared VPC
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/README.md
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/main.tf
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/terraform.tf
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/terraform.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/terraform_simple.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/variables.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-end-to-end/README.md
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-end-to-end/main.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-end-to-end/terraform.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-end-to-end/terraform.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-end-to-end/variables.tf
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/README.md
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/main.tf
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/terraform.tf
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/terraform.tfvars
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/terraform_simple.tfvars
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/variables.tf
  v2/spanner-common/terraform/samples/README.md
  v2/spanner-common/terraform/samples/configure-shared-vpc/README.md
  v2/spanner-common/terraform/samples/configure-shared-vpc/main.tf
  v2/spanner-common/terraform/samples/configure-shared-vpc/outputs.tf
  v2/spanner-common/terraform/samples/configure-shared-vpc/terraform.tf
  v2/spanner-common/terraform/samples/configure-shared-vpc/terraform.tfvars
  v2/spanner-common/terraform/samples/configure-shared-vpc/terraform_simple.tfvars
  v2/spanner-common/terraform/samples/configure-shared-vpc/variables.tf
  v2/spanner-common/terraform/samples/mysql-vpc-spanner-test-infra/README.md
  v2/spanner-common/terraform/samples/mysql-vpc-spanner-test-infra/main.tf
  v2/spanner-common/terraform/samples/mysql-vpc-spanner-test-infra/mysql5.7-setup.sh
  v2/spanner-common/terraform/samples/mysql-vpc-spanner-test-infra/mysql8.4-setup.sh
  v2/spanner-common/terraform/samples/mysql-vpc-spanner-test-infra/outputs.tf
  v2/spanner-common/terraform/samples/mysql-vpc-spanner-test-infra/terraform.tf
  v2/spanner-common/terraform/samples/mysql-vpc-spanner-test-infra/terraform.tfvars
  v2/spanner-common/terraform/samples/mysql-vpc-spanner-test-infra/terraform_simple.tfvars
  v2/spanner-common/terraform/samples/mysql-vpc-spanner-test-infra/variables.tf
Labels: Google LGTM, size/XL

#1644 Revise Datastream to BigQuery IT's
  it/google-cloud-platform/src/main/java/org/apache/beam/it/gcp/bigquery/conditions/BigQueryRowsCheck.java
  v2/datastream-to-bigquery/pom.xml
  v2/datastream-to-bigquery/src/test/java/com/google/cloud/teleport/v2/templates/DataStreamToBigQueryIT.java
Labels: Google LGTM, size/XL

#1720 [Cloud Spanner to BigQuery Template] Fix a NPE when one of the source fields contains a NULL value.
  v2/common/src/main/java/com/google/cloud/teleport/v2/utils/SpannerUtils.java
  v2/common/src/test/java/com/google/cloud/teleport/v2/utils/SpannerUtilsTest.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/SpannerToBigQueryIT.java
Labels: Google LGTM, size/L

#1726 Update getConnectionUrl documentation with example
  v2/jdbc-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/options/JdbcToPubsubOptions.java
Labels: Google LGTM, size/XS

#1727 Support FLOAT32 in Spanner Change Streams to BQ
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/spannerchangestreamstobigquery/schemautils/SpannerChangeStreamsUtils.java
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/spannerchangestreamstobigquery/schemautils/SpannerToBigQueryUtils.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/SpannerChangeStreamsToGcsIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/SpannerChangeStreamsToPubSubIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/spannerchangestreamstobigquery/BigQueryDynamicDestinationsTest.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/spannerchangestreamstobigquery/SpannerChangeStreamsToBigQueryIT.java
  v2/googlecloud-to-googlecloud/src/test/java/com/google/cloud/teleport/v2/templates/spannerchangestreamstobigquery/TestUtils.java
Labels: Google LGTM, size/L

#1717 Reverse replication integration test for custom transformation
  v2/gcs-to-sourcedb/pom.xml
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/processing/dml/DMLGenerator.java
  v2/gcs-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/processing/handler/InputRecordProcessor.java
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/GCSToSourceDbWithoutReaderIT.java
  v2/gcs-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/processing/dml/DMLGeneratorTest.java
  v2/gcs-to-sourcedb/src/test/resources/GCSToSourceDbWithoutReaderIT/events.txt
  v2/gcs-to-sourcedb/src/test/resources/GCSToSourceDbWithoutReaderIT/session.json
  v2/gcs-to-sourcedb/src/test/resources/GCSToSourceDbWithoutReaderIT/spanner-schema.sql
  v2/gcs-to-sourcedb/src/test/resources/customTransformation.json
  v2/spanner-custom-shard/src/main/java/com/custom/CustomTransformationWithShardForIT.java
Labels: Google LGTM, size/XXL

#1709 Use Beam YAML main.py
  .github/workflows/java-pr.yml
  plugins/core-plugin/src/main/resources/Dockerfile-template-yaml
  python/src/main/java/com/google/cloud/teleport/templates/python/YAMLTemplate.java
  python/src/main/python/yaml-template/main.py
Labels: Google LGTM, size/M

#1735 Deprecate copybara workflow
  contributor-docs/maintainers-guide.md
Labels: size/S

#1734 Fix for mutated failsafe event
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/DataStreamToSpanner.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/SpannerTransactionWriterDoFn.java
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/transform/ChangeEventTransformerDoFn.java
Labels: Google LGTM, size/S

#1728 Add table counters and separate metrics on a table level
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/constants/MetricCounters.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/IncrementTableCounter.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/MigrateTableTransform.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/PipelineController.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/IncrementTableCounterTest.java
Labels: Google LGTM, size/L, Migration overrides

#1732 Added sample implmentation and cross functional UT for custom transformation
  v2/datastream-to-spanner/src/main/java/com/google/cloud/teleport/v2/templates/transform/ChangeEventTransformerDoFn.java
  v2/spanner-custom-shard/src/main/java/com/custom/CustomTransformationFetcher.java
  v2/spanner-custom-shard/src/test/java/com/custom/CustomTransformationFetcherTest.java
Labels: size/L

#1739 Upgrade jackson version
  pom.xml
Labels: size/XS

#1744 Fix annotation processor
  it/pom.xml
  plaintext-logging/pom.xml
  plugins/core-plugin/pom.xml
  pom.xml
  structured-logging/pom.xml
  v1/pom.xml
  v2/pom.xml
Labels: size/M

#1707 Spanner to Source basic impl
  v2/pom.xml
  v2/spanner-to-sourcedb/README_Spanner_to_SourceDb.md
  v2/spanner-to-sourcedb/pom.xml
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/SpannerToSourceDb.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/changestream/DataChangeRecordConvertorException.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/changestream/DataChangeRecordTypeConvertor.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/changestream/TrimmedShardedDataChangeRecord.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/changestream/package-info.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/constants/Constants.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/constants/package-info.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/package-info.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/transforms/AssignShardIdFn.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/transforms/FilterRecordsFn.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/transforms/PreprocessRecordsFn.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/transforms/SourceWriterFn.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/transforms/package-info.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/DMLGenerator.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/InputRecordProcessor.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/MySqlDao.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ShadowTableCreator.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ShardIdFetcherImpl.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ShardingLogicImplFetcher.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/SpannerDao.java
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/package-info.java
  v2/spanner-to-sourcedb/src/main/resources/spanner-to-sourcedb-command-spec.json
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/changestream/DataChangeRecordTypeConvertorTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/AssignShardIdFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/FilterRecordsFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/transforms/PreprocessRecordsFnTest.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/DMLGeneratorTest.java
  v2/spanner-to-sourcedb/src/test/resources/MultiColmPKSession.json
  v2/spanner-to-sourcedb/src/test/resources/allDatatypeSession.json
  v2/spanner-to-sourcedb/src/test/resources/allMatchSession.json
  v2/spanner-to-sourcedb/src/test/resources/bitSession.json
  v2/spanner-to-sourcedb/src/test/resources/bufferInput.json
  v2/spanner-to-sourcedb/src/test/resources/bufferInputAllDatatypes.json
  v2/spanner-to-sourcedb/src/test/resources/coulmnNameTypeMismatchSession.json
  v2/spanner-to-sourcedb/src/test/resources/primarykeyMismatchSession.json
  v2/spanner-to-sourcedb/src/test/resources/quotesSession.json
  v2/spanner-to-sourcedb/src/test/resources/shard.json
  v2/spanner-to-sourcedb/src/test/resources/sourceColumnAbsentInSpannerSession.json
  v2/spanner-to-sourcedb/src/test/resources/sourceNoPkSession.json
  v2/spanner-to-sourcedb/src/test/resources/spannerColumnAbsentInSourceSession.json
  v2/spanner-to-sourcedb/src/test/resources/tableNameMismatchSession.json
  v2/spanner-to-sourcedb/src/test/resources/timeZoneSession.json
  v2/spanner-to-sourcedb/terraform/Spanner_Change_Streams_to_Sharded_File_Sink/dataflow_job.tf
Labels: size/XXL

#1741 [BULK] Convert MySQL Time to unified TIME_INTERVAL types
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/provider/MysqlJdbcValueMappings.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/MysqlMappingProvider.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/rowmapper/JdbcSourceRowMapperTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/schema/typemapping/provider/MysqlMappingProviderTest.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/DataTypesIt.java
  v2/sourcedb-to-spanner/src/test/resources/DataTypesIt/data-types.sql
  v2/spanner-common/src/main/java/com/google/cloud/teleport/v2/spanner/migrations/avro/GenericRecordTypeConvertor.java
  v2/spanner-common/src/test/java/com/google/cloud/teleport/v2/spanner/migrations/avro/GenericRecordTypeConvertorTest.java
Labels: Google LGTM, size/L

#1750 Add support for ALO in SpannerChangeStreamsToBigQuery template
  v2/googlecloud-to-googlecloud/src/main/java/com/google/cloud/teleport/v2/templates/spannerchangestreamstobigquery/SpannerChangeStreamsToBigQuery.java
Labels: size/XS

#1755 Fixing exception in String .isSplittable
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/uniformsplitter/range/BoundaryExtractorFactory.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/uniformsplitter/range/BoundaryExtractorFactoryTest.java
Labels: size/XS

#1748 Remove PIP_NO_DEPS from YamlTemplate Dockerfile
  plugins/core-plugin/src/main/resources/Dockerfile-template-xlang
  plugins/core-plugin/src/main/resources/Dockerfile-template-yaml
Labels: size/XS

#1746 Terraform template updates for custom transformation
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/main.tf
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/terraform.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/terraform_simple.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-end-to-end/variables.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-end-to-end/main.tf
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-end-to-end/terraform.tfvars
  v2/datastream-to-spanner/terraform/samples/mysql-sharded-end-to-end/variables.tf
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/main.tf
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/terraform.tfvars
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/terraform_simple.tfvars
  v2/datastream-to-spanner/terraform/samples/pre-configured-conn-profiles/variables.tf
Labels: size/L

#1757 Add string mapper case for IT
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/templates/SourceDbToSpannerSimpleIT.java
  v2/sourcedb-to-spanner/src/test/resources/SourceDbToSpannerSimpleIT/spanner-schema.sql
Labels: size/S

#1758 Fixing Index Discovery for 5.7 and removing innodb_parallel_read_threads from init sequences for MySql5.7 compliance.
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/mysql/MysqlDialectAdapter.java
  v2/sourcedb-to-spanner/src/main/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/iowrapper/config/defaults/MySqlConfigDefaults.java
  v2/sourcedb-to-spanner/src/test/java/com/google/cloud/teleport/v2/source/reader/io/jdbc/dialectadapter/mysql/MysqlDialectAdapterTest.java
Labels: size/L

#1759 ut for reverse replication shadow tables
  v2/spanner-to-sourcedb/src/main/java/com/google/cloud/teleport/v2/templates/utils/ShadowTableCreator.java
  v2/spanner-to-sourcedb/src/test/java/com/google/cloud/teleport/v2/templates/utils/ShadowTableCreatorTest.java
Labels: size/L
